{% extends "base.html" %}
{% block content %}
<div class="main-block clearfix">
    <div class="clearfix">
        <h2>{{ content_item.title }}</h2>
        <div {% block additional_class %}{% endblock %}>
            {{ content_item.text|safe }}
        </div>
    </div>
    {% if seo_data.visible_text %}
    <div class="just-text seo-visible" style="margin-left: 0px;">
        <p>{{ seo_data.visible_text|safe }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
