{% extends "admin/index.html" %}
{% load i18n %}
{% load common %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'admin:index' %}">
                    {% trans 'Home' %}
                </a>
                <span class="divider"> &rsaquo; </span>
            </li>
            <li class="active">
                {% for app in app_list %}
                    {% trans2 %}{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}{% endtrans2 %}
                {% endfor %}
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
