{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Администрирование{% endblock %}

{% block branding %}
    <a href="{% url 'admin:index' %}" class="brand" id="site-name">АскРемонт</a>
    <a href="/" class="brand" style="margin-left: 20px;">Перейти на сайт</a>
{% endblock %}

{% block nav-global %}{% endblock %}
