{% load admin_static admin_urls bootstrap_template_tags common %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{# bootstrap #}
{% block css_commons %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/commons.css" %}" />
{% endblock css_commons %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/overrides.css" %}" />


{% block extrastyle %}{% endblock %}

{% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />
{% endif %}

<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
</script>

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
    <!-- Header -->
    <div id="header" class="navbar navbar-inverse navbar-fixed-top">
        {% if user.is_active and user.is_staff %}
            <div class="navbar-inner" id="nav-menu-top-bar">
                <div class="container-fluid">
                    {% block branding %}{% endblock %}
                    {% block nav-global %}{% endblock %}
                    {% if user.is_active and user.is_staff %}
                        <div id="user-tools" class="pull-right">
                            <div class="btn-group pull-right">
                                <a href="{% if user.has_usable_password %}{% url user|user_admin_urlname:'change' user.pk|admin_urlquote %}{% else %}#{% endif %}" class="btn btn-primary">
                                <i class="icon white user"></i>
                                 @{% filter force_escape %}{% firstof user.get_short_name|lower user.get_username|lower %}{% endfilter %}
                                </a>
                                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% block userlinks %}
                                        {% url 'django-admindocs-docroot' as docsroot %}
                                        {% if docsroot %}
                                            <li>
                                                <a href="{{ docsroot }}"><i class="icon-pencil"></i> {% trans 'Documentation' %}</a>
                                            </li>
                                        {% endif %}
                                        {% if user.has_usable_password %}
                                            <li>
                                                <a href="{% url 'admin:password_change' %}">
                                                    <i class="icon-pencil"></i>
                                                    {% trans 'Change password' %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'admin:logout' %}">
                                                <i class="icon-off"></i>
                                                {% trans 'Log out' %}
                                            </a>
                                        </li>
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <p class="welcome-message pull-right hidden-phone">
                        <i class="icon-user icon-white"></i>
                        {% trans 'Welcome,' %}
                        <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- END Header -->
{% endif %}
<!-- Container -->
<div id="main-container" class='container-fluid'>

    {% if not is_popup %}
        {% block breadcrumbs %}
            <ul class="breadcrumb">
                <li>
                    <a href="/">
                        {% trans 'Home' %}
                    </a>
                    <span class="divider"> &rsaquo; </span>
                </li>
                <li class="active">
                    {% if title %}{{ title }}{% endif %}
                </li>
            </ul>
        {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'info' %}success{% else %}message.tags{% endif %}">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{% trans2 %}{{ title }}{% endtrans2 %}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
{% block js_footer_commons %}
    <script>window.django || document.write('<script src="{% static "admin/js/jquery.js" %}">\x3C/script><script src="{% static "admin/js/jquery.init.js" %}">\x3C/script>')</script>
    <script type="text/javascript" src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/commons.js" %}"></script>
{% endblock js_footer_commons %}

{% block js_footer %}{% endblock js_footer %}
</body>
</html>
