{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load common %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms-and-widgets.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">
                    {% trans2 %}{{ app_label|capfirst|escape }}{% endtrans2 %}
                </a>
                <span class="divider">/</span>
            </li>
            <li class="active">{% trans2 %}{{ cl.opts.verbose_name_plural|capfirst }}{% endtrans2 %}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  {% block object-tools %}
    {% if has_add_permission %}
      <ul class="object-tools pull-right">
        {% block object-tools-items %}
          <li>
            <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink btn btn-primary">
              {% blocktrans with cl.opts.verbose_name as name %}Add{% endblocktrans %}
            </a>
          </li>
        {% endblock %}
      </ul>
      <script type="text/javascript">django.jQuery("ul.object-tools li a").addClass("btn");</script>
    {% endif %}
  {% endblock %}
  <div id="content-main">
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <div class="navbar subnav">
        <div class="navbar-inner">
          <div class="container">
            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a href="#" title="{{ cl.opts.verbose_name_plural|capfirst }}" class="brand"><i class="icon-th-list pull-left"></i></a>
            {% if cl.date_hierarchy or cl.has_filters %}
              <div class="nav-collapse collapse navbar-responsive-collapse pull-left" id="filters">
                <div class="pull-right">
                  <ul class="nav">
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle dropdown-filters" href="#">
                        {% trans 'Filter' %} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
                        {% if cl.date_hierarchy and cl.has_filters %}
                          <li class="divider divider-date-hierarchy"></li>
                        {% endif %}
                        {% block filters %}
                          {% if cl.has_filters %}
                            <li class="nav-header">{% trans 'Filter' %} +</li>
                            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                          {% endif %}
                        {% endblock %}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div><!-- /.nav-collapse -->
            {% endif %}
            {% block pagination %}{% pagination cl %}{% endblock %}
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <div class="pull-right">
                {% block search %}{% search_form cl %}{% endblock %}
              </div>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div>
      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} {% if action_form and actions_on_top and cl.full_result_count %}class="with-top-actions"{% endif %}>{% csrf_token %}
          {% if cl.formset %}
              <div>{{ cl.formset.management_form }}</div>
          {% endif %}
          {% block result_list %}
              {% if action_form and actions_on_top and cl.full_result_count %}
                  <div class="well">
                      <span class="label label-inverse pull-left info-counter">
                          {{ cl.result_count }}
                          {% ifequal cl.result_count 1 %}
                              {{ cl.opts.verbose_name }}
                          {% else %}
                              {{ cl.opts.verbose_name_plural }}
                          {% endifequal %}
                          {% if show_all_url %}
                              &nbsp;&nbsp;
                              <a href="{{ show_all_url }}" class="showall">
                                  {% trans 'Show all' %}
                              </a>
                          {% endif %}
                      </span>
                      <div class="divider"></div>
                      {% admin_actions %}
                  </div>
              {% endif %}
              {% result_list cl %}
                {% if action_form and actions_on_bottom and cl.full_result_count %}
                    <div class="well bottom-actions">
                      <span class="label label-inverse pull-left info-counter">
                          {{ cl.result_count }}
                          {% ifequal cl.result_count 1 %}
                              {{ cl.opts.verbose_name }}
                          {% else %}
                              {{ cl.opts.verbose_name_plural }}
                          {% endifequal %}
                          {% if show_all_url %}
                              &nbsp;&nbsp;
                              <a href="{{ show_all_url }}" class="showall">
                                  {% trans 'Show all' %}
                              </a>
                          {% endif %}
                      </span>
                      <div class="divider"></div>
                      {% admin_actions %}
                    </div>
                {% endif %}
          {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        fix_positions_on_menu = function (){
          width = Math.max( $(window).innerWidth(), window.innerWidth);
          if(width < '768'){
            $('#filters').addClass('nav-collapse collapse navbar-responsive-collapse');
          }else{
            $('#filters').removeClass('nav-collapse collapse navbar-responsive-collapse');
          }
          if(width <= '768'){
            $('#searchbar').addClass('input-xlarge').removeClass('span2');
          }else{
            $('#searchbar').addClass('span2').removeClass('input-xlarge');
          }
        }
        $(document).ready(function(){
            fix_positions_on_menu();
            $subnav = $('.subnav');
            $subnav.affix({
                offset: {
                    top: function () {
                        $top = 0;
                        width = Math.max( $(window).innerWidth(), window.innerWidth);
                        if(width >= '768'){
                            if(width >= '979'){
                              $top = 80;
                            }else{
                              $top = 120;
                            }
                            if($(window).scrollTop() >= $top){
                                $subnav.addClass('navbar-fixed-top');
                                $('#changelist-form').css('margin-top', '42px');
                            }else{
                                $subnav.removeClass('navbar-fixed-top');
                                $('#changelist-form').css('margin-top', 0);
                            }
                        }
                        return $top;
                    }
                }
            });
        });
        $(window).resize(function(){
            fix_positions_on_menu();
        });
    })(django.jQuery);
    </script>
{% endblock js_footer %}
