{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load common %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row-fluid dashboard-tools">
        <div class="span9 app-list" style="margin-left: 0px;">
            {% if app_list %}
                <h2>Разделы админки</h2>
                {% for app in app_list %}
                    <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}" class="table table-striped table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th colspan="4">
                                <h3>
                                    <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                                        {% trans2 %}{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}{% endtrans2 %}
                                    </a>
                                </h3>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for model in app.models %}
                                <tr>
                                {% if model.admin_url %}
                                    <td class="model-name"><a href="{{ model.admin_url }}">{% trans2 %}{{ model.name }}{% endtrans2 %}</a></td>
                                {% else %}
                                    <td class="model-name">{{ model.name }}</td>
                                {% endif %}

                                <td class="search-in-this-model hidden-phone">{% if model.perms.change %}
                                    <form class="form-search" method="get" action="{{ model.admin_url }}">
                                      <div class="input-append">
                                        <input type="text" name="q" size="16" id="prependedInput" class="search-query input-medium" placeholder='{% trans 'Search' %} "{% trans2 %}{{ model.name }}{% endtrans2 %}"'>
                                        <button class="btn" type="submit"><i class="icon-search"></i></button>
                                      </div>
                                    </form>
                                    {% endif %}</td>

                                <td>{% if model.add_url %}
                                        <a href="{{ model.add_url }}" class="btn btn-primary pull-right">{% trans 'Add' %}</a>
                                    {% endif %}</td>
                                <td>{% if model.admin_url %}
                                        <a href="{{ model.admin_url }}" class="btn btn-info pull-right">{% trans 'Change' %}</a>
                                    {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
            {% endif %}
        </div>
        <div class="span3 recent-actions" style="float:right;">
            <h2>{% trans 'My Actions' %}</h2>
            <div class="well">
                {% if is_app_index %}
                    <p class="app-name">
                        {% for app in app_list %}
                            ({% trans2 %}{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}{% endtrans2 %})
                        {% endfor %}
                    </p>
                {% endif %}
                {% if is_app_index %}
                    {% load bootstrap_template_tags %}
                    {% get_admin_log_for_app 10 as admin_log for_user user %}
                {% else %}
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                {% endif %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul class="action-list">
                    {% for entry in admin_log %}
                        <li>
                        {% if entry.is_addition %}
                            <i class="icon-plus"></i>
                        {% elif entry.is_change %}
                            <i class="icon-pencil"></i>
                        {% elif entry.is_deletion %}
                            <i class="icon-minus"></i>
                        {% endif %}

                        {% if entry.content_type %}
                            <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                        {% else %}
                            <span class="mini quiet">{% trans 'Unknown content' %}</span>
                        {% endif %}<br/>

                        {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a href="{{ admin_root_url }}{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        swap_containers = function(container){
            container = $(container);
            container.remove();
            
            $('.dashboard-tools').append(container.prop('outerHTML'));
        }

        swap_if_necessary = function(){
            width = Math.max( $(window).innerWidth(), window.innerWidth)
            if(width < '767' && $('.recent-actions').isBefore('.app-list')){
                swap_containers('.recent-actions');
            } 
            else if(width > '767' && $('.recent-actions').isAfter('.app-list')){
                swap_containers('.app-list');
            }
        }

        $(window).resize(swap_if_necessary);
        $(document).ready(swap_if_necessary);
    })(django.jQuery);
    </script>
{% endblock js_footer %}
