{% load thumbnail %}
<div class="block-brends">
    <h2>Бренды</h2>
    <div class="clearfix">
        {% for brand in brands %}
        <div class="item">
            <div class="img">
                {% thumbnail brand.image '222x47' crop="center" as im %}
                <img src="{{ im.url }}" alt="">
                {% endthumbnail %}
            </div>
            <div class="link"><p><a href='{% url 'market:index' %}?filters={"brand": {{ brand.pk }}}'>{{ brand.title }}</a></p></div>
        </div>
        {% endfor %}
    </div>
</div>