{% load admin_static %}
<div class="block-catalog">
    <h2><a href="{% url 'market:index' %}">Каталог товаров</a></h2>
    <div class="tabs">
        <ul class="clearfix index-catalog-cats">
            {% for category in categories %}
            <li><a href="{{ category.link }}" data-url="{% url 'market:ajax_products_block' category_id=category.pk %}" class="dotted js-index-category">{{ category.title}}</a></li>
            {% endfor %}
            <li><a href="{% url 'market:index' %}">Все товары</a></li>
        </ul>
    </div>
    <div class="block clearfix" id="index-catalog-content">

    </div>
</div>