<div class="carousel-block">
    <div class="block">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
        <div id="carousel-block">
            <div class="item clearfix">
                <div class="img">
                    <div><img src="/static/img/icon-sprite.jpg" alt=""></div>
                </div>
                <div class="text">
                    <div class="name">
                        <p><a href="#">Интернет-витрина</a></p>
                    </div>
                    <div class="info">
                        <p>Выбор пасты - вопрос, требующий грамотного подхода. Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст. Выбор пасты - вопрос, требующий грамотного подхода.</p>
                        <p>Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст.</p>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img">
                    <div><img src="/static/img/icon-sprite.jpg" alt=""></div>
                </div>
                <div class="text">
                    <div class="name">
                        <p><a href="#">Интернет-витрина</a></p>
                    </div>
                    <div class="info">
                        <p>Выбор пасты - вопрос, требующий грамотного подхода. Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст. Выбор пасты - вопрос, требующий грамотного подхода.</p>
                        <p>Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст.</p>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img">
                    <div><img src="/static/img/icon-sprite.jpg" alt=""></div>
                </div>
                <div class="text">
                    <div class="name">
                        <p><a href="#">Интернет-витрина</a></p>
                    </div>
                    <div class="info">
                        <p>Выбор пасты - вопрос, требующий грамотного подхода. Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст. Выбор пасты - вопрос, требующий грамотного подхода.</p>
                        <p>Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст.</p>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img">
                    <div><img src="/static/img/icon-sprite.jpg" alt=""></div>
                </div>
                <div class="text">
                    <div class="name">
                        <p><a href="#">Интернет-витрина</a></p>
                    </div>
                    <div class="info">
                        <p>Выбор пасты - вопрос, требующий грамотного подхода. Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст. Выбор пасты - вопрос, требующий грамотного подхода.</p>
                        <p>Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст.</p>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img">
                    <div><img src="/static/img/icon-sprite.jpg" alt=""></div>
                </div>
                <div class="text">
                    <div class="name">
                        <p><a href="#">Интернет-витрина</a></p>
                    </div>
                    <div class="info">
                        <p>Выбор пасты - вопрос, требующий грамотного подхода. Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст. Выбор пасты - вопрос, требующий грамотного подхода.</p>
                        <p>Это в равной степени относится как к категории недорогих, так и дорогостоящих зубных паст.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-block clearfix">
        <div class="item active">
            <p><a href="#" data-target="1" class="dotted selection">Подбор средств гигиены полости рта</a></p>
        </div>
        <div class="item">
            <p><a href="#" data-target="2" class="dotted order">Интернет- витрина</a></p>
        </div>
        <div class="item">
            <p><a href="#" data-target="3" class="dotted info">Информация для студентов и врачей</a></p>
        </div>
        <div class="item">
            <p><a href="#" data-target="4" class="dotted video">Видео</a></p>
        </div>
        <div class="item">
            <p><a href="#" data-target="5" class="dotted forum">Форум</a></p>
        </div>
    </div>
</div>