<div class="info-carousel">
    <a href="javascript:void(0);" class="prev"></a>
    <a href="javascript:void(0);" class="next"></a>
    <div id="info-carousel">
        {% for item in good_to_know %}
        <div class="item clearfix">
            <div class="useful">
                <h3>Полезно знать</h3>
                <p>{{ item.announce }}</p>
            </div>
            {% with companies=item.related_companies.all %}
            {% if companies %}
            <div class="block-help">

                <div class="title">
                    <p>В этом может помочь</p>
                </div>

                {% with company=companies|random %}
                <div class="name">
                    <p>{{ company.title }}</p>
                </div>
                <ul>
                    {% for cat in company.categories.all %}
                    {% if forloop.first %}
                    <li><a href="{{ cat.link }}">{{ cat.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if company.price_range %}
                    <li><strong>{{ company.price_range }} руб.</strong></li>
                    {% endif %}
                    <li>{{ company.address }}</li>
                </ul>
                <div class="more">
                    <p><a href="{{ company.link }}">Подробнее</a></p>
                </div>
                {% endwith %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        {% endfor %}
    </div>
</div>