{% load banners %}
<div class="mini-benners clearfix">
    <div class="item">{% advert 'index' 'middle_1' %}</div>
    <div class="item">{% advert 'index' 'middle_2' %}</div>
    <div class="item">{% advert 'index' 'middle_3' %}</div>
    <div class="item">{% advert 'index' 'middle_4' %}</div>
    <div class="item">{% advert 'index' 'middle_5' %}</div>
    <div class="item">{% advert 'index' 'middle_6' %}</div>
</div>