{% load pytils_dt thumbnail %}

<div class="block-news">
    <div class="title clearfix"><span>Последние новости</span><a href="{% url 'news_list' %}" class="more">Перейти к разделу со всеми новостями</a></div>
    <div class="block clearfix ">
        {% for item in news %}
        {% if forloop.first %}
        <div class="first-news js-news-slider-main">
            <div class="cnt top">
                {% thumbnail item.image "722x339" crop="center" as im %}
                <a href="{{ item.link }}"><img src="{{ im.url }}" alt=""></a>
                {% endthumbnail %}
                <a class="item" href="{{ item.link }}">
                    <h3>{{ item.title }} <span>-  {{ item.created_at|ru_strftime:"%d %B %Y" }}</span></h3>
                    <div class="text">
                        <p>{{ item.announce }}</p>
                    </div>
                </a>
            </div>
            <div class="cnt bottom" style="display:none;"></div>
        </div>
        <div class="more-news">
            <ul>
        {% endif %}
            <li>
                <p class="js-news-slider-cont"  tgt="{{ item.pk }}">
                    <span>{{ item.created_at|ru_strftime:"%d %b" }}</span>
                    <a {% if forloop.first %}id="js-news-slider-cont-first"{% endif %} href="{{ item.link }}">{{ item.title }}</a>
                    <script type="text/plain" class="js-news-slider-item">
                        {% thumbnail item.image "722x339" crop="center" as im %}
                        <a href="{{ item.link }}"><img src="{{ im.url }}" alt=""></a>
                        {% endthumbnail %}
                        <a class="item" href="{{ item.link }}">
                            <h3>{{ item.title }} <span>-  {{ item.created_at|ru_strftime:"%d %B %Y" }}</span></h3>
                            <div class="text">
                                <p>{{ item.announce }}</p>
                            </div>
                        </a>
                    </script>
                </p>
            </li>


        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>