{% load pytils_dt thumbnail %}
<div class="block-article">
    <div class="title"><span>Последние статьи</span><a href="{% url 'articles_list' %}">Перейти к разделу со всеми статьями</a></div>
    <div class="block clearfix">
        {% for item in articles %}
        <div class="item">
            {% thumbnail item.image "248x112" crop="center" as im %}
           <a href="{{ item.link }}"><div class="img"><img src="{{ im.url }}" alt=""></div></a>
            {% endthumbnail %}
            <div class="name">
                <p><a href="{{ item.link }}" style="color:#45AAB8; text-decoration: none;">{{ item.title }}</a></p>
            </div>
            <div class="text">
                <p>{{ item.announce }} <a href="{{ item.link }}">Подробнее...</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>