{% load mptt_tags %}
<div class="menu-popup clearfix">
    {% for category, structure  in catalog_categories|tree_info %}
        {% if structure.new_level %}<div><ul>{% else %}</ul></div><div><ul>{% endif %}
        <li>{{ category.title }}</li>
        {% if not node.is_leaf_node %}
            {% for subcat, substruct  in category.get_children|tree_info %}
                <li><a href="{{ subcat.link }}">{{ subcat.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% for level in structure.closed_levels %}</ul></div>{% endfor %}
    {% endfor %}
</div>