{% load banners %}
<div class="top-banners clearfix">
    <div class="item">{% advert vertical 'topmost_1' %}</div>
    <div class="item">{% advert vertical 'topmost_2' %}</div>
    <div class="item">{% advert vertical 'topmost_3' %}</div>
    <div class="item">{% advert vertical 'topmost_4' %}</div>
</div>