{% extends 'base.html' %}
{% load banners pytils_dt thumbnail %}
{% block content %}
<div class="main-block clearfix">
    <ul class="breadcrumbs">
        <li class="main"><a href="/">Главная</a></li>
        <li><a href="{% url 'articles_list' %}" style="color:#fff;">Статьи</a></li>
        {% if current_section %}
        <li><a href="{% url 'articles_list' %}?section={{ current_section.pk }}" style="color:#fff;">{{ current_section.title }}</a></li>
        {% endif %}
    </ul>
    <div class="clearfix"></div>
    <div class="clearfix">
        <div class="left-block">
            {% if sections %}
            <ul class="categories">
                {% for section in sections %}
                <li><a {% if current_section.pk != section.pk %}href="{% url 'articles_category' section.identity %}"{% else %}class="active"{% endif %}>{{ section.title }}</a></li>
                {% endfor %}
                <li><a href="{% url 'articles_list' %}">Все статьи</a></li>
            </ul>
            {% endif %}
            <div style="margin-top: 30px; text-align:center;">
                {% advert 'articles' 'sidebar' %}
            </div>
        </div>
        <div class="center-block" style="margin-right: 0;">
            <div class="block-header" style="margin-left: 0;">Статьи</div>
            <div id="ars-container" class="articles-list js-masonry" data-masonry-options='{ "columnWidth": 295, "itemSelector": ".art" }'>
                {% for item in items %}
                 <div class="art art-rew">
                    <div class="art-img">
                    {% thumbnail item.image "267x148" crop="center" as im %}
                    <a href="{{ item.link }}"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    </div>
                    <div class="art-txt">
                        <div class="art-name"><a href="{{ item.link }}" style="color: black; text-decoration: none;">{{ item.title }}</a></div>
                        <div class="art-date">{{ item.created_at|ru_strftime:"%d.%m.%Y" }}</div>
                         {{ item.announce }}
                    </div>
                </div>
                {% endfor %}
            </div>
        <div>

    </div>
</div>
<div class="clear"></div>
{% include 'common/paginator.html' %}
{% if seo_data.visible_text %}
<div class="just-text" style="margin-left: 220px; margin-bottom: 15px;">
    <p>{{ seo_data.visible_text|safe }}</p>
</div>
{% endif %}
<div class="clear"></div>
<div class="big-banner clearfix">
    <div class="item">{% advert 'articles' 'bottom_1' %}</div>
    <div class="item">{% advert 'articles' 'bottom_2' %}</div>
</div>
{% endblock %}
