{% extends "base.html" %}
{% load pytils_dt %}

{% block content %}
<div class="block-review">
    <h2>Отзывы</h2>
    <div class="button-review"><a href="javascript:void(0);" onclick="$('#feedback_form').parent().toggle();" class="button b-blue">Оставить отзыв</a></div>
    <div class="block-form" style="display: none;">
        <form id="feedback_form" action="{% url 'feedback_add' %}" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="">Имя: <sup>*</sup></label>{{ form.name }}
                    <div class="error"></div>
                </li>
                <li>
                    <label for="">Телефон:</label>{{ form.phone }}
                    <div class="error"></div>
                </li>
                <li>
                    <label for="">E-mail:</label>{{ form.email }}
                    <div class="error"></div>
                </li>
                <li>
                    <label for="">Текст отзыва: <sup>*</sup></label>
                    {#<textarea name="" id="" cols="30" rows="10"></textarea>#}
                    {{ form.text }}
                    <div class="error"></div>
                </li>
                <li>
                    <p>* поля обязательные для заполнения</p>
                    <input type="submit" class="button b-white" value="отправить">
                </li>
            </ul>
        </form>
    </div>
    <div class="review">
        {% for item in feedback_list %}
        <div class="item">
            <div class="title">
                <p class="name">{{ item.name }}</p>
                <p class="date">{{ item.created_at|ru_strftime:"%d %B %Y" }}</p>
            </div>
            <div class="text">
                <p>{{ item.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "common/pagination.html" with base_url="/feedbacks/" %}
</div>
{% endblock %}