{% extends "base.html" %}
{% load admin_static common banners pytils_dt thumbnail %}
{% block content %}
<div class="main-block clearfix">
    <div class="carousel-main">
        <div class="pagination"></div>
        <div id="carousel-main">
            {% for company in companies %}
            <div class="item">
                <div class="name">
                    <p>{{ company.title }}</p>
                </div>
                <ul>
                    {% for cat in company.categories.all %}
                    {% if loop.first %}
                    <li><a href="{{ cat.link }}">{{ cat.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if company.price_range %}
                    <li class="price"><strong>{{ company.price_range }} руб.</strong></li>
                    {% endif %}
                    <li class="adress">{{ company.address }}</li>
                    <li class="more"><a href="{{ company.link }}">Узнать больше о компании</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="banner-right">{% advert 'index' 'sidebar' %}</div>
</div>

{% include 'content/_index_news_slider.html' %}

{% include 'content/_index_middle_banners.html' %}

{% include 'content/_good_to_know_block.html' %}

{% include 'content/_index_articles_block.html' %}

{% include 'content/_index_bottom_banners.html' %}
{% endblock %}