{% extends 'base.html' %}
{% load banners pytils_dt thumbnail %}

{% block content %}
<div class="main-block clearfix">
    <ul class="breadcrumbs">
        <li class="main"><a href="/">Главная</a></li>
        <li>{% block content_page_title %}<a href="{% url 'news_list' %}">Новости{% endblock %}</a></li>
        <li>{{ item.title }}</li>
    </ul>
    <div class="clearfix"></div>
    <div class="clearfix">
        <div class="left-block" style="display:inline-block;vertical-align:top;">
            {% if prev_item %}
            <div class="news-preview">
                <div class="news-preview-header">
                    {% block prev_item %}Предыдущая новость{% endblock %}
                </div>
                <a href="{{ prev_item.link }}" class="news-preview-block prev-news" style="text-decoration:none;">
                    {% thumbnail prev_item.image "200x126" crop="center" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="news-preview-text">
                        {{ prev_item.title }}
                    </div>
                </a>
            </div>
            {% endif %}
            <div style="margin-top: 10px; text-align:center;">
                {% advert vertical 'sidebar' %}
            </div>

        </div>

        <div class="center-block" style="display:inline-block;vertical-align:top;width: 640px; margin:0 0 0 20px;">
            <div class="clear"></div>
            <div class="news-main">
                <h1 class="news-header">{{ item.title }}</h1>
                <a href="javascript:window.print()" class="print">Распечатать</a>
                <div class="news-date">Добавлено: {{ item.created_at|ru_strftime:"%d %B %Y" }}</div>
                {% if images_gallery %}
                <div class="news-slider">
                    <div class="slide-desc">{{ item.announce }}</div>
                    {% for image_item in images_gallery %}
                    {% if forloop.first %}
                    <div class="main-slide">
                        {% thumbnail image_item.image "590x277" crop="center" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                    </div>
                    <div class="slider-cont">
                        <a href="#" class="slide-prev"></a>
                        <div   id="news-slider-thumbs">
                    {% endif %}

                            {% thumbnail image_item.image "590x277" crop="center" as big_im %}
                            {% thumbnail image_item.image "136x81" as im %}
                            <a href="{{ big_im.url }}" rel="gallery" style="background: #F6F6F6; margin-right: 10px;display: inline-block;"><img src="{{ im.url }}" style="margin:{{ im|margin:"136x81" }}"></a>
                            {% endthumbnail %}
                            {% endthumbnail %}

                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endfor %}
                        <a href="#" class="slide-next"></a>
                    </div>
                </div>
                {% endif %}
                <p>{{ item.text|safe }}</p>
                <div class="tells">Рассказать друзьям:</div>
                <div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google"></div>
            </div>
            <div class="comments-block clearfix">
                <div class="comments-big">Комментарии</div>
                <div class="comments-small"></div>
            </div>
            <div class="news-main">
                <!-- Put this script tag to the <head> of your page -->
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

                <script type="text/javascript">
                  VK.init({apiId: 4117607, onlyWidgets: true});
                </script>

                <!-- Put this div tag to the place, where the Comments block will be -->
                <div id="vk_comments"></div>
                <script type="text/javascript">
                VK.Widgets.Comments("vk_comments", {limit: 10, width: "590", attach: "*"});
                </script>
            </div>
        </div>

        <div class="right-block" style="display:inline-block;vertical-align:top;">
            {% if next_item %}
            <div class="news-preview">
                <div class="news-preview-header">
                    {% block next_item %}Следующая новость{% endblock %}
                </div>
                <a href="{{ next_item.link }}" class="news-preview-block next-news">
                    {% thumbnail next_item.image "200x126" crop="center" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="news-preview-text">
                        {{ next_item.title }}
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
