{% extends 'base.html' %}
{% load banners pytils_dt thumbnail %}
{% block content %}
<div class="main-block clearfix">
    <ul class="breadcrumbs">
        <li class="main"><a href="/">Главная</a></li>
        <li>Новости</li>
    </ul>
    <div class="clerfix"></div>
    <div class="clearfix">
        <div class="clerfix"></div>
        <div class="block-header">Новости</div>
        <ul class="all-news">
            {% for item in items %}
            <li>
                <div class="all-news-date">
                    <span class="time">{{ item.created_at|ru_strftime:"%H:%I" }}</span>
                    <span class="day">{{ item.created_at|ru_strftime:"%d" }}</span>
                    <span class="month">{{ item.created_at|ru_strftime:"%B" }}</span>
                    <span class="year">{{ item.created_at|ru_strftime:"%Y" }}</span>
                </div>
                <div class="all-news-text">
                    {% thumbnail item.image "204x204" crop="center" as im %}
                    <a href="{{ item.link }}"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    <div class="all-news-header"><a href="{{ item.link }}">{{ item.title }}</a></div>
                    <div class="txt">
                        {{ item.announce|truncatechars:150 }}
                    </div>
                    <div class="txt" style="background:none;">
                        {#<div class="pluso" data-url="{{ item.link }}" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>#}
                    </div>
                    <a href="{{ item.link }}" class="read-full">Читать полностью</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% include 'common/paginator.html' %}
        {% if seo_data.visible_text %}
        <div class="just-text seo-visible" style="margin-left: 220px;">
            <p>{{ seo_data.visible_text|safe }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}