.required{
    font-weight: bold;
}
#content-main{
    margin-top: 20px;
}
.object-tools{
    text-align: right;
}
.object-tools li{
    display: inline;
}
.form-actions{
    padding:10px 0px  0px  0px !important;
}
.radiolist{
    list-style: none;
    margin: 3px auto;
}
.inline li{
    margin-right: 5px;
}
.inline li, .inline label, .clearable-file-input label{
    display: inline;
}
.datetime input{
    width: 80px;
}
.datetime br, .file-upload br{
    clear: both;
    display: block;
    margin: 5px;
    line-height: 35px;
}
/* advanced options */
.collapse{
    height: auto;
}
.collapse h2, .inline-group h2{
    margin-bottom: 20px;
    border-top: 1px solid #E5E5E5;
}
.inline-group h3{
    font-size: 21px;
}
.collapsed .control-group{
    display: none;
}
/* StackedInline */
.delete label{
    display: inline;
}
.inline-deletelink .icon-minus-sign{
    margin: 5px;
}
.delete .icon-trash{
    vertical-align: baseline;
}
.inline-related .delete input{
    margin-top: 0;
}
/* TabularInline */
.tabular .delete input{
    display: block;
    margin: 0 auto;
}
.tabular .inline-deletelink .icon-minus-sign{
    margin: 2px;
}
.tabular .original p{
    display: block;
    word-wrap:break-word;
}
.tabular .vTextField{
    display: block;
    margin: 0 auto;
    width: 85%;
}

/* Temporary solution for .errorlist errors */

.errorlist {
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
    border-radius: 4px 4px 4px 4px;
    color: #B94A48;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.errorlist li {
    list-style: none;
}


@media (max-width: 1024px) {
    .form-horizontal .control-label{
        width: 120px;
    }
    .form-horizontal .controls{
        margin-left: 140px;
    }
}
/* 800px referring the popup width  */
@media (max-width: 800px){
    .form-horizontal .control-label{
        clear: both;
        display: block;
        width: auto;
    }
    .form-horizontal .controls{
        clear: both;
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .form-actions .container{
        margin: 10px;
    }
    .delete-link-box, .save-options-box{
        float: none;
    }
    .save-options-box input{
        width: 100%;
        margin-bottom: 9px !important;
    }
    .form-actions .btn-danger{
        margin-bottom: 9px !important;
    }
    .delete-link-box a{
        display: block !important;
    }
    .navbar .btn {
        margin: 0px;
    }
}


.dynamic-prop_set textarea 
{
    width: 98% !important;
}
