#content h1{
    display: inline-block;
}
.object-tools{
    list-style: none;
    text-align: right;
    margin-left: 15px;
    margin-top: 15px;
}
.object-tools li {
    float: left;
    margin-left: 5px;
}
.object-tools:after {
    clear: both;
}
#changelist .nav-collapse .nav > li.active > a,
#changelist .nav-collapse .dropdown-menu li.active a{
    color: #fff;
}
#changelist .affix.navbar-fixed-top{
    top: 40px;
    z-index: 1029;
}
.pagination{
    margin: 0;
}
.pagination ul > li > a, .pagination ul > li > span{
    background: transparent;
    border-top: none;
    border-bottom: none;
    line-height: 40px;
}
#filters .dropdown-filters {
    padding: 10px 5px;
}
.affix-top.subnav{
    position: relative;
    z-index: 1;
}
#changelist-form{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 15px 0;
    padding-top: 5px;
    position: relative;
    top: -25px;
}
#changelist-form .results{
    overflow-x: auto;
}
#changelist-form.with-top-actions{
    padding: 39px 0 0 0;
}
#changelist-form .table .selected td,
#changelist-form .table .selected th {
    background-color: #FCF8E3;
}
#changelist-form .actions{
    height: 30px;
    padding-bottom: 10px;
}
#changelist-form .actions .all,
#changelist-form .actions .action-counter,
#changelist-form .actions .clear,
#changelist-form .actions .question{
    display: none;
}
#result_list thead a{
    color: #333;
}
#changelist .well{
    border-radius: 0;
    left: -1px;
    padding-bottom: 0px;
    position: absolute;
    right: -1px;
    top: -3px;
}
#changelist .well .divider{
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #F2F2F2;
    float: left;
    height: 59px;
    margin: -19px 9px;
}
#changelist .actions label{
    display: inline-block;
}
#changelist .actions label span{
    display: inline-block;
    margin-top: 5px;
}
#changelist-form .actions .btn{
    display: inline-block;
}
#changelist-form.with-top-actions .results{
    margin-top: 19px;
}
#changelist-form.with-top-actions .info-counter{
    margin-top: 5px;
}
#result_list .action-checkbox-column,
#result_list .action-checkbox{
    text-align: center;
    width: 20px;
}
#result_list thead{
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
}
#result_list .row1:first-child td,
#result_list .row1:first-child th{
    border-top-style:dotted;
}
#changelist .bottom-actions{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0 none;
    border-right: 0 none;
    height: 40px;
    left: 0;
    margin-bottom: -4px;
    position: relative;
}
.datetime input{
    width: 80px;
}
@media (max-width: 979px) {
    .nav-collapse .pull-left,
    .nav-collapse .pull-right{
        float: none;
    }
    .navbar-search{
        text-align: center;
    }
    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a{
        color: #fff;
    }
    #searchbar{
        width: 300px;
    }
}
@media (max-width: 768px) {
    #content h1 {
        font-size: 25px;
    }
    .pagination ul > li > a,
    .pagination ul > li > span{
        padding: 0 10px;
    }
    #changelist .well{
        text-align: center;
    }
    #changelist .well .info-counter,
    #changelist .well .actions,
    #changelist .well .divider{
        float: none;
    }
    #changelist .well .actions{
        display: inline-block;
    }
    #changelist .well .divider{
        display: inline;
    }
    #changelist-form .well .actions>:first-child{
        margin-right: 10px;
    }
    #changelist-form.with-top-actions .results {
        padding-top: 20px;
    }
    #changelist .bottom-actions{
        height: auto;
    }
}
@media (min-width: 767px) and (max-width: 768px) {
    #changelist > .affix.subnav{
        position: fixed;
        top: 0;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    #searchbar{
        width: 200px;
    }
}
@media (max-width: 480px) {
    #content h1 {
        display: block;
        font-size: 20px;
        text-align: center;
    }
    .object-tools{
        float: none;
        margin-top: 0;
        text-align: center;
    }
    .pagination{
        height: auto;
    }
    .pagination ul > li > a,
    .pagination ul > li > span {
        border: 1px solid #D4D4D4;
        border-radius: 3px 3px 3px 3px;
        margin: 5px;
        padding: 0 10px;
        text-align: center;
        width: 16px;
    }
    .pagination ul > li:first-child > a,
    .pagination ul > li:first-child > span,
    .pagination ul > li:last-child > a,
    .pagination ul > li:last-child > span{
        border-radius: 3px;
    }
    .pagination .disabled a{
        border-color: transparent;
    }
    .pagination ul{
        box-shadow: none;
    }
    #filters{
        width: 100%;
    }
    .affix{
        position: relative;
        z-index: 1;
    }
    #changelist-form.with-top-actions .results {
        padding-top: 50px;
    }
    #changelist .well{
        padding-top: 40px;
    }
    #changelist-form .all,
    #changelist-form .action-counter{
        position: absolute;
        right: 20px;
        top: 15px;
    }
    #changelist-form .info-counter {
        left: 20px;
        position: absolute;
        top: 10px;
    }
    #changelist .well .divider{
        display: none;
    }
    #changelist-form .actions{
        float: none;
        height: auto !important;
        text-align: center;
    }
    #changelist .brand{
        display: none;
    }
    #searchbar{
        width: auto;
    }
}
@media (max-width: 320px) {
    #content h1 {
        font-size: 17px;
    }
    #search-change-list .input-append .btn{
        border-radius: 3px 3px 3px 3px;
        display: block;
        margin: 5px auto;
    }
    #searchbar{
        border-radius: 3px;
    }
}

