{% extends 'base.html' %}
{% load banners pytils_dt thumbnail %}
{% block content %}
<div class="main-block clearfix">
    <div class="right-side">
        <div style="margin-top: 30px;">
            {% advert 'search' 'sidebar' %}
        </div>
    </div>
    <div class="left-big-block">
        <div class="block-name">Результаты поиска</div>
        {% with items=results %}
        {% if items %}
        <ul class="search-results">
            {% for item in items %}
            <li>
                <a href="{{ item.url }}" class="name">{{ item.title|safe }}</a>
                {% if item.content %}
                <div class="details">
                    {{ item.content|safe }}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>По вашему запросу ничего не найдено</h2>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}