{% if is_paginated %}
<div>
    {% if page_obj.has_previous %}
        <a  class="prev-page" href="{{ base_url }}?page={{ page_obj.previous_page_number }}"></a>
    {% else %}
        <a  class="prev-page"></a>
    {% endif %}

    <ul class="pagination clearfix">

    {% for num in page_obj.page_range %}
       <li {% if num = page_obj.number %}class="curent"{% endif %}>
       {% if not num %}<a>...</a>
       {% else %}
            {% if num = page_obj.number %}
            <a>{{ num }}</a>
            {% else %}
            <a href="{{ base_url }}?page={{ num }}">{{ num }}</a>
            {% endif %}
       {% endif %}
       </li>
    {% endfor %}
    </ul>

    {% if page_obj.has_next %}
        <a class="next-page" href="{{ base_url }}?page={{ page_obj.next_page_number }}"></a>
    {% else %}
        <a class="next-page"></a>
    {% endif %}

</div>
{% endif %}