{% load i18n admin_static admin_modify %}
{% load bootstrap_template_tags bootstrap_inline_forms_fix %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
    {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module">
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            {% for error in inline_admin_formset.formset.non_form_errors %}
                <p class="errornote alert alert-error fade in">
                <a href="#" data-dismiss="alert" class="close">×</a>
                    {{ error }}
                </p>
            {% endfor %}
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        {% for field in inline_admin_formset.fields %}
                        {% if not field.widget.is_hidden %}
                        <th{% if forloop.first %} colspan="2"{% endif %}{% if field.required %} class="required"{% endif %}>
                            {{ field.label|capfirst }}
                            {% if field.help_text %}
                                &nbsp;<img src="{% static "admin/img/icon-unknown.gif" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />
                            {% endif %}
                     </th>
                {% endif %}
                {% endfor %}
                {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
                </tr>
                </thead>

                <tbody>
                {% for inline_admin_form in inline_admin_formset %}
                {% if inline_admin_form.form.non_field_errors %}
                <tr>
                    <td colspan="{{ inline_admin_form|cell_count }}">
                        {% for error in inline_admin_form.form.non_field_errors %}
                            <p class="errornote alert alert-error fade in">
                            <a href="#" data-dismiss="alert" class="close">×</a>
                                {{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
                     id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                    <td class="original">
                        {% if inline_admin_form.original or inline_admin_form.show_url %}
                            <p class="span3">
                                {% if inline_admin_form.original %} 
                                    {{ inline_admin_form.original }}
                                {% endif %}
                                {% if inline_admin_form.show_url %}
                                    <a href="{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}">
                                        {% trans "View on site" %}
                                    </a>
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if inline_admin_form|needs_explicit_pk_field %}
                            {{ inline_admin_form.pk_field.field }}
                        {% endif %}
                        {{ inline_admin_form.fk_field.field }}
                        {% spaceless %}
                            {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                    {% for field in line %}
                                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endspaceless %}
                    </td>
                    {% for fieldset in inline_admin_form %}
                        {% for line in fieldset %}
                            {% for field in line %}
                                <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
                                    {% if field.is_readonly %}
                                        <p>{{ field.contents|linebreaksbr }}</p>
                                    {% else %}
                                        {% if field.field.errors %}
                                            <p class="errornote alert alert-error fade in">
                                                <button data-dismiss="alert" class="close" type="button">×</button>
                                                {% for error in field.field.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                        {{ field.field }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    {% if inline_admin_formset.formset.can_delete %}
                        <td class="delete">
                            {% if inline_admin_form.original %}
                                {{ inline_admin_form.deletion_field.field }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="0">
                            <span class="move-add-row-after-me"></span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
(function($) {
    $("#{{ inline_admin_formset.formset.prefix }}-group .tabular.inline-related tfoot .move-add-row-after-me").tabularFormset({
          prefix: "{{ inline_admin_formset.formset.prefix }}",
          adminStaticPrefix: '{% static "admin/" %}',
          addText: '{% blocktrans with inline_admin_formset.opts.verbose_name|title as verbose_name %}<i class="icon-plus-sign"></i> Добавить элемент: "{{ verbose_name }}"{% endblocktrans %}',
          deleteText: '<i class="icon-minus-sign"></i>{% trans 'Remove' %}'
    });
})(django.jQuery);
</script>
