
.block-private .block-title {
	margin: 0 0 15px;
}

.block-private .block-title p {
	font: bold 1.4em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #464646;
}

.block-private .tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block-private .tabs li {
	float: left;
	position: relative;
}

.block-private .tabs li a {
	display: block;
	padding: 16px 20px 15px;
	background: #d7d7d7;
	font: bold .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #7c7c7c;
	text-decoration: none;
	position: relative;
}

.block-private .tabs li:first-child a {
	-webkit-border-radius: 3px 0 0;
	-moz-border-radius: 3px 0 0;
	border-radius: 3px 0 0;
}

.block-private .tabs li:last-child a {
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

.block-private .tabs li.ui-tabs-active a {
	color: #4b4b4b;
	background: #fff;
	/*top: -4px;*/
	padding: 16px 20px 15px;
	-webkit-border-radius: 3px 3px 0 0!important;
	-moz-border-radius: 3px 3px 0 0!important;
	border-radius: 3px 3px 0 0!important;
}

.block-private .block {
	background: #fff;
	padding: 25px 30px 0;
	margin: 0 0 22px;
	box-shadow: 0 2px 0 #d9d9d9;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
}

.block-private .block h3 {
	margin: 0 0 24px;
	font: bold 1.4em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #00acba;
	border-bottom: 1px solid #00acba;
	padding: 0 0 5px;
}

.block-private .block .selected {
	margin: 0 0 35px;
}

.block-private .block .logotype .img {
	float: left;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 202px;
	height: 202px;
	margin: 0 40px 0 0;
	background: #f9f9f9;
	position: relative;
	overflow: hidden;
}

.block-private .block .logotype .img span {
	font: bold 1.2em/1.3em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #cdcdcd;
	text-align: center;
	z-index: 10;
	vertical-align: middle;
}

.block-private .block .logotype .img img {
	position: relative;
	z-index: 20;
}

.block-private .block .logotype .add-logo {
	float: left;
	margin: 77px 0 0;
	position: relative;
	overflow: hidden;
	width: 265px;
	height: 62px;
	padding: 0 0 0 2px;
}

.block-private .block .logotype .add-logo a,
.block-private .block .info ul .tags .add,
.block-private .button-block button,
.block-private .edit-password ul input[type=submit] {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #45aab8;
	width: 184px;
	padding: 16px 0 15px 76px;
	font: bold 1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	text-shadow: 0 2px 0 rgba(0,0,0,.15);
	box-shadow: 0 4px 0 #3e99a5, 0 6px 3px rgba(0,0,0,.25);
	letter-spacing: .04em;
	position: relative;
	z-index: 5;
}

.block-private .block .logotype .add-logo:active a,
.block-private .block .info ul .tags .add:active,
.block-private .button-block button:active,
.block-private .edit-password ul input[type=submit]:active {
	top: 4px;
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.block-private .block .logotype .add-logo a:before,
.block-private .block .info ul .tags .add:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -415px 0;
	width: 24px;
	height: 26px;
	left: 31px;
	top: 15px;
}

.block-private .block .logotype .add-logo input {
	position: absolute;
	font: 3em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
}

.block-private .block .info ul,
.block-private .edit-password ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block-private .block .info ul li,
.block-private .block .contacts ul li {
	margin: 0 0 10px;
}

.block-private .block .info ul label,
.block-private .block .contacts ul label,
.block-private .block .services .block-services ul label,
.block-private .block-work .form ul label,
.block-private .edit-password ul label,
.examples-works .form ul label {
	display: inline-block;
	width: 165px;
	text-align: right;
	font: 1.1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #252525;
	vertical-align: middle;
	padding: 0 10px 0 0;
}

.block-private .block .info ul input[type=text],
.block-private .block .info ul textarea,
.block-private .block .info ul select,
.block-private .block .contacts ul input[type=text],
.block-private .block .contacts ul input[type=adress],
.block-private .block .contacts ul input[type=tel],
.block-private .block .contacts ul input[type=email],
.block-private .block .services .block-services ul input[type=text],
.block-private .block .services .block-services ul textarea,
.block-private .block-work .form ul input[type=text],
.block-private .block-work .form ul textarea,
.block-private .edit-password ul input[type=password],
.examples-works .form ul input[type=text],
.examples-works .form ul textarea {
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 35px;
	width: 300px;
	padding: 0 10px;
	box-shadow: inset 0 2px 0 #efefef;
	background: #f9f9f9;
	font: .9em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
}

.block-private .block .info ul textarea,
.block-private .block .services .block-services ul textarea {
	padding: 10px;
	width: 818px;
	height: 204px;
	min-height: 204px;
}

.block-private .block .info ul .tags {
	display: inline-block;
	vertical-align: top;
	width: 840px;
}

.block-private .block .info ul .tags span {
	display: inline-block;
	background: #464646;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 8px 15px 6px;
	text-decoration: none;
	color: #fff;
	font: .9em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	text-shadow: 0 2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 2px 0 #3c3c3c;
	margin: 0 3px 14px 0;
	vertical-align: middle;
}

.block-private .block .info ul .tags .add {
	padding: 10px 0 8px 37px;
	font-size: .8em;
	vertical-align: top;
	letter-spacing: .02em;
	width: 124px;
}

.block-private .block .info ul .tags .add:before {
	background-position: -289px -36px;
	width: 11px;
	height: 13px;
	top: 12px;
	left: 15px;
}

.block-private .block .info ul li:last-child p {
	font: .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #888;
	padding: 0 0 0 186px;
	margin: 8px 0 0;
}

.block-private .block .contacts ul,
.block-private .block-work .form ul,
.examples-works .form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block-private .block .contacts ul select {
	width: 322px;
}

.block-private .block-work {
	margin: 0 0 30px;
	position: relative;
}

.block-private .block-work .close {
	position: absolute;
	top: 0;
	right: 0;
	font: .9em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #00acba;
	display: none;
}

.block-private .block-work:hover .close {
	display: inline-block;
}

.block-private .block-work .img {
	float: left;
	width: 382px;
	height: 225px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 20px 0 0;
}

.block-private .block-work .form,
.examples-works .form {
	float: left;
	width: 610px;
}

.block-private .block-work .form ul label,
.examples-works .form ul label {
	display: block;
	width: auto;
	text-align: left;
	padding: 0 0 0 4px;
	margin: 0 0 7px;
}

.block-private .block-work .form ul li,
.examples-works .form ul li {
	margin: 0 0 10px;
}

.block-private .block-work .form ul span,
.examples-works .form ul span {
	display: inline-block;
	font: italic .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #c1c1c1;
	vertical-align: middle;
}

.block-private .block-work .form ul input[type=text],
.examples-works .form ul input[type=text] {
	width: 236px;
	margin: 0 15px 0 0;
}

.block-private .block-work .form ul textarea,
.examples-works .form ul textarea {
	width: 236px;
	height: 95px;
	padding: 10px;
	min-height: 95px;
	margin: 0 15px 0 0;
}

.block-private .formsets .button,
.block-private .examples-works .button {
	text-align: center;
}

.block-private .formsets .button a,
.block-private .examples-works .button a {
	display: inline-block;
	text-decoration: none;
	background: #f3f3f3;
	width: 182px;
	padding: 17px 0 0 78px;
	height: 36px;
	font: bold 1.05em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #4b4b4b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 4px 0 #dadada, 0 6px 3px rgba(0,0,0,.25);
	text-align: left;
	position: relative;
}

.block-private .formsets .button a:before,
.block-private .examples-works .button a:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -439px 0;
	width: 24px;
	height: 24px;
	left: 15px;
	left: 33px;
}

.block-private .formsets .button a:active,
.block-private .button-block input[type=submit]:active,
.block-private .examples-works .button a:active {
	top: 4px;
	box-shadow: 0 0 0 #000, 0 2px 3px rgba(0,0,0,.25);
}

.block-private .button-block {
	padding: 17px 0 22px;
	border-top: 1px solid #e5e5e5;
}

.block-private .button-block input[type=submit] {
	float: left;
	border: none;
	background: #f3f3f3;
	height: 44px;
	width: 232px;
	font: bold .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #4b4b4b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 4px 0 #dadada, 0 6px 3px rgba(0,0,0,.25);
	position: relative;
}

.block-private .button-block button {
	float: right;
	border: none;
	padding: 0 0 0 49px;
	height: 44px;
	width: 216px;
	font-size: .8em;
	text-align: left;
	letter-spacing: .02em;
	position: relative;
}

.block-private .button-block button i {
	display: block;
	position: absolute;
	background: url(../img/sprite.gif) no-repeat -379px -28px;
	width: 14px;
	height: 16px;
	left: 21px;
	top: 15px;
}

.jq-selectbox-wrapper {
	display: inline-block!important;
	vertical-align: middle;
}

.block-private .block .services .block-services {
	border: 2px solid #e5f7f8;
	padding: 17px 16px 17px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 831px;
	margin: 0 0 10px;
	position: relative;
}

.block-private .block .services .block-services:before {
	display: block;
	position: absolute;
	width: 37px;
	right: -37px;
	top: 0;
	height: 100%;
	content: "";
}

.block-private .block .services .block-services .close {
	display: none;
	position: absolute;
	background: url(../img/sprite.gif) no-repeat -359px -28px;
	width: 20px;
	height: 20px;
	top: 9px;
	right: -37px;
}

.block-private .block .services .block-services:hover .close {
	display: block;
}

.block-private .block .services .block-services ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block-private .block .services .block-services ul li {
	float: left;
	margin: 0 0 10px;
}

.block-private .block .services .block-services ul li:nth-child(2) input[type=text] {
	width: 130px;
}

.block-private .block .services .block-services ul textarea {
	width: 630px;
	height: 75px;
	min-height: 75px;
}

.block-private .edit-password {
	padding: 0 0 30px;
}

.block-private .edit-password ul li {
	margin: 0 0 10px;
}

.block-private .edit-password ul li:last-child {
	padding: 0 0 0 151px;
	margin: 24px 0 0;
}

.block-private .edit-password ul label {
	text-align: left;
	width: 127px;
}

.block-private .edit-password ul input[type=password] {
	width: 189px;
}

.block-private .edit-password ul input[type=submit] {
	border: none;
	width: 201px;
	padding: 14px 0 12px;
	text-align: center;
	font-size: .8em;
	letter-spacing: .02em;
	position: relative;
}

.examples-works {
	padding: 0 0 35px;
}

.examples-works .block-work {
	float: left;
	padding: 6px 6px 3px 3px;
	width: 372px;
	background: #f9f9f9;
	margin: 0 20px 30px 0;
}

.examples-works .form {
	margin-bottom: 30px;
}

.examples-works .block-work .item {
	float: left;
	border: 1px solid #c5c5c5;
	margin: 0 0 3px 3px;
	position: relative;
	width: 119px;
	height: 100px;
	background: #e1e1e1;
	line-height: 100px;
	text-align: center;
}

.examples-works .block-work .item p {
	font: 13px/15px Arial;
	display: inline-block;
	margin: 55px 0 0;
	position: relative;
	color: #787878;
}

.examples-works .block-work .add p {
	margin: 0;
	display: block;
}

.examples-works .block-work .add p a {
	color: #787878;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 119px;
	height: 45px;
	padding: 55px 0 0;
	text-decoration: none;
}

.examples-works .block-work .add p a:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -414px -26px;
	width: 24px;
	height: 24px;
	left: 48px;
	top: 23px;
}

.examples-works .block-work .error {
	background: #ecd9d9;
	border-color: #dcb1b1;
}

.examples-works .block-work .error p {
	color: #e64040;
}

.examples-works .block-work .error p:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -393px -27px;
	width: 21px;
	height: 23px;
	left: 18px;
	top: -32px;
}

.examples-works .block-work .item .close {
	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 12px;
	height: 12px;
	background: #e64040;
}

.examples-works .block-work .item .close:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -213px -42px;
	width: 8px;
	height: 8px;
	left: 2px;
	top: 2px;
}

