.header .login p a:before {
	display: none;
}

.header .login p a[href="#login"]:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -45px 0;
	width: 45px;
	height: 47px;
	top: -5px;
	left: -62px;
}

.block-search input[type=text] {
	line-height: 39px;
	height: 39px;
	padding: 0 17px;
}

.block-search button[type=submit] {
	height: 41px;
}

.block-search button[type=submit] i {
	top: -7px;
}

.info-carousel {
	height: 265px;
	overflow: hidden;
}