/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
	position: relative;
}
html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
	width: 1080px;
	margin: 0 auto;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clear {
	clear:both;
}
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
	* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
	}
	
	a,
	a:visited {
		text-decoration: underline;
	}
	
	a[href]:after {
		content: " (" attr(href) ")";
	}
	
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	
	/*
	* Don't show links for images, or javascript/internal links
	*/
	
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	
	tr,
	img {
		page-break-inside: avoid;
	}
	
	img {
		max-width: 100% !important;
	}
	
	@page {
		margin: 0.5cm;
	}
	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2,
	h3 {
		page-break-after: avoid;
	}
}

.top-banners {
	
}

.top-banners .item {
	float: left;
	width: 255px;
	height: 125px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	margin: 0 20px 0 0;
}

.top-banners .item:last-child {
	margin: 0;
}

.header {
	padding: 24px 0 22px;
}

.header .logo {
	float: left;
	width: 238px;
	height: 78px;
	margin: 0 32px 0 0;
}

.header .slogan {
	padding: 6px 0 0 30px;
	width: 265px;
	float: left;
	background: url(../img/img-quotes.gif) no-repeat;
}

.header .slogan p {
	font: italic .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #000;
	opacity: .5;
}

.header .slogan p a {
	color: #000;
}

.header .add-company {
	float: right;
}

.header .add-company a {
	display: block;
	padding: 11px 0 10px 112px;
	width: 100px;
	text-decoration: none;
	background: #45aab8;
	font: bold 1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 4px 0 #3e99a5, 0 6px 3px rgba(0,0,0,.25);
	position: relative;
}

.header .add-company a:before,
.header .add-company a:after {
	display: block;
	position: absolute;
	content: "";
}

.header .add-company a:before {
	width: 88px;
	height: 100%;
	background: #484848;
	top: 0;
	left: 0;
	box-shadow: 0 4px 0 #414141;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	z-index: 1;
}

.header .add-company a:after {
	z-index: 2;
	width: 45px;
	height: 47px;
	background: url(../img/sprite.gif) no-repeat 0 0;
	top: 17px;
	left: 21px;
}

.header .add-company a:active {
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
	top: 4px;
}

.header .add-company a:active:before {
	box-shadow: 0 0 0 #000;
}

.header .login {
	float: right;
	margin: 0 22px 0 0;
	padding: 20px 0 0;
}

.header .login p {
	font: 1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #000;
	margin: 3px 0 0;
}

.header .login p:first-child {
	opacity: 1;
}

.header .login p:last-child {
	opacity: 1;
}

.header .login p:last-child a {
	font-size: 1em;
	text-decoration: none;
	font-weight: normal;
	color: #aaa;
}

.header .login p a {
	color: #45aab8;
	font-size: 1.7em;
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.header .login p a:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -45px 0;
	width: 45px;
	height: 47px;
	top: -5px;
	left: -62px;
}

.header .login p:last-child a:before {
	display: none;
}

.header .unlogin p {
	text-align: right;
}

.header .unlogin p a:before {
	display: none;
}

.header .unlogin p:last-child {
	opacity: 1;
}

.header .unlogin p:last-child a {
	font-size: 1em;
	text-decoration: none;
	font-weight: normal;
	color: #aaa;
	padding: 0 0 0 21px;
}

.header .unlogin p:last-child a:before {
	display: block;
	background-position: -307px 0;
	width: 16px;
	height: 15px;
	left: 0;
	top: 0px;
}

.block-search {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	margin: 0 0 20px;
}

.block-search span {
	display: block;
	float: left;
	background: #45aab8;
	width: 113px;
	text-align: center;
	font: bold 1.4em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
	padding: 8px 0 7px;
}

.block-search input[type=text] {
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	height: 35px;
	padding: 4px 17px 0;
	box-shadow: inset 0 3px 0 rgba(0,0,0,.05);
	width: 850px;
	font: italic .9em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	display: block;
	float: left;
}

.block-search button[type=submit] {
	height: 37px;
	width: 83px;
	border: none;
	background: #00acba;
	padding: 0;
	display: block;
	float: left;
	box-shadow: 0 4px 0 #3e99a5;
	position: relative;
}

.block-search button[type=submit] i {
	display: block;
	position: absolute;
	background: url(../img/sprite.gif) no-repeat -90px 0;
	width: 16px;
	height: 18px;
	top: 11px;
	left: 34px;
}

.menu-block {
	position: relative;
	margin: 0 0 20px;
}

.menu-block .item {
	float: left;
	margin: 0 20px 0 0;
	height: 51px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.menu-block .item.active:first-child:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.png) no-repeat 0 0;
	width: 34px;
	height: 19px;
	left: 10%;
	margin-left: -18px;
	bottom: -18px;
	z-index: 50;
}

.menu-block .item .link {
	display: block;
	background: #fff;
	height: 37px;
	padding: 10px 0 0 68px;
	position: relative;
	text-decoration: none;
	font: bold 1.05em/.9em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
	box-shadow: 0 4px 0 #e5e5e5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.menu-block .item .link:before,
.menu-block .item .link:after {
	display: block;
	position: absolute;
	content: "";
}

.menu-block .item .link:before {
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
}

.menu-block .item .link:after {
	background: url(../img/sprite.gif) no-repeat;
}

.menu-block .item .link:before {
	top: 0;
	left: 0;
	width: 53px;
	height: 100%;
}

/*.menu-block .item .link:active {
	box-shadow: 0 0 0 #000;
	top: 4px;
}*/

.menu-block .item.current {
	box-shadow: none;
}

.menu-block .item.current .link {
	top: 4px;
	color: #949494;
	box-shadow: none;
}

.menu-block .item:nth-child(1) {
	width: 200px;
}

.menu-block .item:nth-child(1).current .link {
	color: #00ABBA;
}

.menu-block .item:nth-child(1).current .link:after {
	background: #00acba url('../img/services_active.jpg') center no-repeat;
}

.menu-block .item:nth-child(1) .link:before {
	background: #00abba;
	box-shadow: 0 4px 0 #3e99a5;
}

.menu-block .item:nth-child(1) .link:hover:before {
	background: #25c1ce;
}

.menu-block .item:nth-child(1) .link:after {
	background-position: -106px 0;
	width: 29px;
	height: 26px;
	top: 12px;
	left: 12px;
}

.menu-block .item:nth-child(1) .link:hover:after {
	background-position: -463px 0;
}

/*.menu-block .item:nth-child(1) .link:active:before,
.menu-block .item:nth-child(2) .link:active:before,
.menu-block .item:nth-child(3) .link:active:before {
	box-shadow: 0 0 0 #000;
}*/

.menu-block .item:nth-child(2) {
	width: 200px;
}

.menu-block .item:nth-child(2) .link:before {
	background: #e9b523;
	box-shadow: 0 4px 0 #c5a232;
}

.menu-block .item:nth-child(2) .link:hover:before {
	background: #edc24a;
}

.menu-block .item:nth-child(2) .link:after {
	background-position: -135px 0;
	width: 28px;
	height: 27px;
	top: 12px;
	left: 12px;
}

.menu-block .item:nth-child(2) .link:hover:after {
	background-position: -492px 0;
}
 
.menu-block .item:nth-child(3) {
	width: 225px;
}

.menu-block .item:nth-child(3) .link:before {
	background: #ff6b4d;
	box-shadow: 0 4px 0 #d86048;
}

.menu-block .item:nth-child(3) .link:hover:before {
	background: #fb8269;
}

.menu-block .item:nth-child(3) .link:after {
	background-position: -163px 0;
	width: 27px;
	height: 30px;
	top: 10px;
	left: 13px;
}

.menu-block .item:nth-child(3) .link:hover:after {
	background-position: -520px 0;
}

.menu-block .item:nth-child(4) {
	width: 190px;
}

.menu-block .item:nth-child(4) .link,
.menu-block .item:nth-child(5) .link {
	padding: 15px 0 0 78px;
	height: 32px;
}

.menu-block .item:nth-child(4) .link:after {
	background-position: -190px 0;
	width: 26px;
	height: 26px;
	top: 11px;
	left: 17px;
}
.menu-block .item.current .link:after {
	opacity: .6;
}
.menu-block .item.current .link:before {
	box-shadow: none;
}

.menu-block .item:nth-child(5) {
	width: 185px;
	margin: 0;
}

.menu-block .item:nth-child(5) .link:after {
	background-position: -216px 0;
	width: 21px;
	height: 26px;
	top: 12px;
	left: 16px;
}

.menu-block .item .menu-popup {
	z-index: 1000;
	position: absolute;
	background: #fff;
	width: 1060px;
	padding: 20px 20px 0 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 9px 5px rgba(0,0,0,.35);
	vertical-align: top;
	margin-top: 22px;
	display: none;
}

.menu-block .item .menu-popup div {
    display: inline-block;
    width: 245px;
    vertical-align: top;
}

.menu-block .item .menu-popup ul {
	padding: 0;
	margin: 0 0 20px 20px;
	list-style: none;
}

.menu-block .item .menu-popup ul li {
	font: .85em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	padding: 0 0 0 25px;
	position: relative;
	margin: 0 0 8px;
}

.menu-block .item .menu-popup ul li:before {
	display: block;
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #484848;
	top: 2px;
	left: 10px;
}

.menu-block .item .menu-popup ul li a {
	color: #484848;
	text-decoration: none;
}

.menu-block .item .menu-popup ul li a:hover {
	text-decoration: underline;
}

.menu-block .item .menu-popup ul li:first-child {
	border: 1px solid #378893;
	position: relative;
	background: #00acba;
	text-align: center;
	text-transform: uppercase;
	font: .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	padding: 9px 0 8px;
	margin: 0 0 15px;
}

.menu-block .item .menu-popup ul li:first-child:before {
	background: url(../img/sprite.gif) no-repeat -90px -18px;
	width: 12px;
	height: 8px;
	left: 6px;
	top: auto;
	bottom: -7px;
}

.block-news .title,
.block-article .title,
.title {
	background: #464646;
	padding: 0 22px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	overflow: hidden;
	margin: 0 0 2px;
}

.block-news .title span,
.block-article .title span,
.title > span {
	display: block;
	float: left;
	background: #00acba;
	font: bold 1.35em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
	padding: 12px 50px 12px 24px;
	position: relative;
}

.block-news .title span:before,
.block-article .title span:before,
.title > span:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -237px 0;
	width: 14px;
	height: 50px;
	top: 0;
	right: 0;
}

.block-news .title a,
.block-article .title a,
.title a {
	display: block;
	float: right;
	font: .85em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
	padding: 0 0 0 25px;
	margin: 18px 0 0;
	position: relative;
}

.block-news .title a:before,
.block-article .title a:before
.title a:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat -90px -26px;
	width: 14px;
	height: 16px;
	top: -1px;
	left: 0;
}

.block-news .block {
	background: #fff;
	padding: 21px;
	box-shadow: 0 4px 0 #d9d9d9;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	margin: 0 0 21px;
}

.block-news .block .first-news {
    display: inline-block;
	width: 742px;
	height: 339px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	margin: 0;
	vertical-align: top;
}

.block-news .block .first-news .cnt {
	margin-right: 20px;
	vertical-align: top;
}

.block-news .block .first-news .item {
	background-color: rgba(90, 90, 90, 0.7);
	width: 390px;
	padding: 15px 19px;
	position: relative;
	display: block;
	text-decoration: none;
}

.block-news .block .first-news .item h3 {
	color: #fff;
	font: bold 1.35em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
}

.block-news .block .first-news .item h3 span {
	font: .55em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	opacity: .5;
}

.block-news .block .first-news .item .text p {
	color: #fff;
	font: .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
}

.block-news .block .more-news {
	display: inline-block;
	width: 284px;
	vertical-align: top;
}

.block-news .block .more-news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block-news .block .more-news ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 5px;
}

.block-news .block .more-news ul li.active
{
    background:#eee;
}

.block-news .block .more-news ul li p {
	font: 1em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	padding: 10px 0;
}

.block-news .block .more-news ul li p span {
	font-size: .75em;
	color: #45aab8;
}

.block-news .block .more-news ul li p a {
	font-weight: bold;
	color: #484848;
	text-decoration: none;
}

.block-news .block .more-news ul li p a:hover {
	text-decoration: underline;
}

.mini-benners {
	margin: 0 0 20px;
}

.mini-benners .item {
	float: left;
	width: 162px;
	height: 100px;
	margin: 0 0 0 21px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}

.mini-benners .item:first-child {
	margin: 0;
}

.info-carousel {
	position: relative;
	margin: 0 0 20px;
}

.info-carousel .prev,
.info-carousel .next {
	display: block;
	position: absolute;
	background: url(../img/sprite.gif) no-repeat;
	width: 19px;
	height: 19px;
	top: 67px;
	z-index: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.info-carousel .prev {
	background-position: -251px 0;
	right: 449px;
}

.info-carousel .prev:hover {
	background-position: -251px -19px;
}

.info-carousel .next {
	background-position: -270px 0;
	right: 366px;
}

.info-carousel .next:hover {
	background-position: -270px -19px;
}

.info-carousel .item {
	float: left;
	width: 1080px;
}

.info-carousel .item .useful {
	float: left;
	width: 633px;
	background: #ffeea0 url(../img/bg-useful.png) no-repeat top left;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	padding: 58px 60px 12px 85px;
	height: 193px;
	position: relative;
}

.info-carousel .item .useful:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/19x12.gif) repeat-x;
	width: 100%;
	height: 12px;
	bottom: 0;
	left: 0;
}

.info-carousel .item .useful h3 {
	margin: 0 0 16px;
	font: bold italic 1.7em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
}

.info-carousel .item .useful p {
	font: italic 1.1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
}

.info-carousel .item .block-help {
	float: right;
	width: 245px;
	background: #fff;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	padding: 0 18px 30px;
	height: 233px;
	position: relative;
}

.info-carousel .item .block-help:before {
	background: url(../img/19x14.gif) repeat-x;
	width: 100%;
	position: absolute;
	display: block;
	content: "";
	height: 14px;
	left: 0;
	bottom: 0;
}

.info-carousel .item .block-help .title {
	background: #484848;
	text-align: center;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	padding: 8px 0;
	margin: 0 -18px 12px;
}

.info-carousel .item .block-help .title p {
	font: bold 1.1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
}

.info-carousel .item .block-help .name {
	margin: 0 0 18px;
}

.info-carousel .item .block-help .name p {
	font: bold 1.3em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
}

.info-carousel .item .block-help ul {
	margin: 0 0 22px;
	padding: 0;
	list-style: none;
}

.info-carousel .item .block-help ul li {
	font: .85em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
	position: relative;
	padding: 0 0 0 32px;
	margin: 0 0 11px;
}

.info-carousel .item .block-help ul li:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat;
	top: 0;
	left: 0;
}

.info-carousel .item .block-help ul li:nth-child(1) a {
	color: #484848;
}

.info-carousel .item .block-help ul li:nth-child(1):before {
	background-position: -104px -27px;
	width: 20px;
	height: 18px;
}

.info-carousel .item .block-help ul li:nth-child(2):before {
	background-position: -124px -27px;
	width: 18px;
	height: 18px;
}

.info-carousel .item .block-help ul li:nth-child(3):before {
	background-position: -142px -27px;
	width: 19px;
	height: 19px;
}

.info-carousel .item .block-help ul li:nth-child(3) a {
	color: #484848;
	opacity: .6;
}

.info-carousel .item .block-help .more a {
	display: block;
	text-align: center;
	background: #45aab8;
	color: #fff;
	font: bold .75em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	text-decoration: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 4px 0 #3e99a5;
	padding: 7px 0 4px;
	position: relative;
}

.info-carousel .item .block-help .more a:active {
	top: 4px;
	box-shadow: 0 0 0 #000;
}

.block-article {
	margin: 0 0 25px;
}

.block-article .title {
	margin: 0 0 20px;
}

.block-article .block {
	overflow: hidden;
}

.block-article .item {
	float: left;
	padding: 0 14px 2000px;
	border-left: 1px solid #d8d8d8;
	width: 248px;
	margin: 0 0 -2000px 0;
}

.block-article .item .img {
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	margin: 0 0 15px;
}

.block-article .item .img:before {
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 1px rgba(0,0,0,.2);
	top: 0;
	left: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.block-article .item:first-child {
	padding-left: 0;
	border: none;
}

.block-article .item:last-child {
	padding-right: 0;
}

.block-article .item .name {
	margin: 0 0 15px;
}

.block-article .item .name p {
	font: bold 1.05em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #45aab8;
}

.block-article .item .text p {
	font: .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
}

.block-article .item .text a {
	color: #45aab8;
}

.big-banner {
	margin: 0 0 20px;
}

.big-banner .item {
	float: left;
	width: 525px;
	height: 88px;
	margin: 0 0 0 30px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}

.big-banner .item:first-child {
	margin: 0;
}

.main-block {
	margin: 0 0 20px;
}

.main-block .banner-right {
	float: right;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}

.main-block .carousel-main {
	float: left;
	background: #fff;
	box-shadow: 0 2px 0 #d9d9d9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	width: 862px;
	height: 267px;
	overflow: hidden;
}

.main-block .carousel-main .pagination {
	position: absolute;
	right: 18px;
	bottom: 15px;
	z-index: 10;
}

.main-block .carousel-main .pagination span {
	display: none;
}

.main-block .carousel-main .pagination a {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 0 0 0 9px;
	background: #ccc;
	padding: 0;
}

.main-block .carousel-main .pagination .selected {
	background: #45aab8;
}

.pagination li:hover, .prev-page:hover, .next-page:hover {
    background: #E0E0E0;
}

.main-block .carousel-main .item {
	float: left;
	width: 452px;
	padding: 0 50px 0 360px;
	background: url(../img/274x227.gif) no-repeat 35px 19px;
	height: 267px;
}

.main-block .carousel-main .item .name {
	margin: 30px 0 17px;
}

.main-block .carousel-main .item .name p {
	font: bold 1.65em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
}

.main-block .carousel-main .item ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-block .carousel-main .item ul li {
	padding: 0 0 0 37px;
	font: .95em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #484848;
	position: relative;
	margin: 0 0 8px;
}

.main-block .carousel-main .item ul li:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat;
	top: 0;
	left: 0;
}

.main-block .carousel-main .item ul li:first-child:before {
	background-position: -104px -27px;
	width: 20px;
	height: 18px;
	top: -1px;
}

.main-block .carousel-main .item ul .price:before {
	background-position: -124px -27px;
	width: 18px;
	height: 18px;
}

.main-block .carousel-main .item ul .sale:before {
	background-position: -289px 0;
	width: 18px;
	height: 18px;
}

.main-block .carousel-main .item ul .adress:before {
	background-position: -142px -27px;
	width: 19px;
	height: 19px;
}

.main-block .carousel-main .item ul .more:before {
	background-position: -289px -18px;
	width: 18px;
	height: 18px;
	top: 6px;
}

.main-block .carousel-main .item ul li a {
	color: #484848;
}

.main-block .carousel-main .item ul .more a {
	display: inline-block;
	text-align: center;
	width: 214px;
	height: 19px;
	position: relative;
	color: #fff;
	font: .9em/1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	background: #484848;
	text-decoration: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 4px 0 #3d3d3d;
	padding: 7px 0 0;
}

.main-block .carousel-main .item ul .more a:active {
	box-shadow: 0 0 0 #000;
	top: 4px;
}

.footer {
	background: #464646;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.footer .logo {
	float: left;
	position: relative;
	background: #00acba;
	width: 221px;
	padding: 20px 0 22px 31px;
	margin: 0 40px 0 0;
}

.footer .logo:before {
	background: url(../img/24x90.gif);
	display: block;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 24px;
	height: 90px;
}

.footer .menu {
	float: left;
	margin: 38px 0 0;
}

.footer .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .menu ul li {
	float: left;
	font: .85em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	margin: 0 50px 0 0;
}

.footer .menu ul li:last-child {
	margin: 0;
}

.footer .menu ul li a {
	color: #fff;
	opacity: .5;
	text-decoration: none;
}

.footer .menu ul li a:hover {
	text-decoration: underline;
}

.footer .dev {
	float: right;
	margin: 19px 20px 0 0;
}

.footer .social {
	float: right;
	margin: 28px 27px 0 0;
}

.footer .social a {
	display: inline-block;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #313131;
	position: relative;
	margin: 0 0 0 6px;
	box-shadow: inset 0 2px 0 #272727;
}

.footer .social a:before {
	display: block;
	position: absolute;
	content: "";
	background: url(../img/sprite.gif) no-repeat;
}
.footer .social .vk {
	display: none;
}
.footer .social .vk:before {
	background-position: -161px -30px;
	width: 11px;
	height: 16px;
	top: 10px;
	left: 13px;
}

.footer .social .gp:before {
	background-position: -172px -30px;
	width: 16px;
	height: 18px;
	top: 10px;
	left: 10px;
}

.footer .social .tw:before {
	background-position: -188px -30px;
	width: 15px;
	height: 16px;
	top: 11px;
	left: 11px;
}

.footer .social .fc:before {
	background-position: -203px -30px;
	width: 9px;
	height: 20px;
	top: 9px;
	left: 13px;
}
.left-block {
	float: left;
	width: 200px;
}
.right-block {
	float: right;
	width: 200px;
}
.news-preview {
	opacity: .5;
	transition: linear 0.5s all;
	font-family: 'Myriad Pro';
}
.news-preview:hover {
	opacity: 1;
}
.news-preview-header {
	padding-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #484848;
	text-align: center;
}
.news-preview-block {
	text-decoration: none;
	color: #464646;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 0 #d9d9d9;
	background: #fff;
	margin-top: 10px;
	padding: 0 0 80px 0;
	display: block;
}
.prev-news {
	background: #fff url('../img/prev_news.png') center bottom no-repeat;
}
.next-news {
	background: #fff url('../img/next_news.png') center bottom no-repeat;
}
.news-preview-text {
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
}
.center-block {
	margin: 0 220px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Myriad Pro';
	position: relative;
}
.breadcrumbs li {
	float: left;
	padding: 5px 15px 1px 30px;
	font-size: 14px;
	background: #464646 url('../img/bread_break.png') left top no-repeat;
	position: relative;
}
.breadcrumbs li a {
	color: #a0a0a0;
	text-decoration: none;
}
.breadcrumbs li a:hover {
	color: #fff;
}
.breadcrumbs li:first-child {
	background: none;
	padding-left: 40px;
	border-radius: 3px 0 0 3px;
}
.breadcrumbs li:last-child {
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.15);
	background: #00acba url('../img/bread_cur_break.png') left top no-repeat;
}
.breadcrumbs li:last-child:after {
	width: 11px; height: 25px;
	content: '';
	position: absolute;
	right: -11px;
	background: url('../img/bread_end.png');
	top: 0;
}
.breadcrumbs li.main {
	background: #464646 url('../img/main_icon.png') 15px 7px no-repeat;
}
.news-main {
	box-shadow: 0 2px 0 #d9d9d9;
	background: #fff;
	border-radius: 10px;
	margin-top: 13px;
	padding: 25px;
	position: relative;
	font-size: 14px;
	line-height: 1.6em;
	color: #464646;
	font-family: 'Myriad Pro';
}
.news-main p {
	margin: 20px 0 0;
}
.news-header {
	font-family: 'Myriad Pro';
	font-size: 24px;
	color: #00acba;
	width: 470px;
	margin: 0;
	text-align: left;
}
a.print {
	position: absolute;
	background: url('../img/print.png') left no-repeat;
	padding-left: 22px;
	color: #b7b7b7;
	right: 30px; top: 30px;
	font-size: 12px;
}
.news-date {
	font-size: 12px;
	color: #acacac;
	margin: 10px 0;
}
.news-slider {
	background: #f9f9f9;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0 0;
}
.slide-desc {
	font-size: 12px;
	font-style: italic;
	color: #6f6f6f;
	margin: 0 20px 10px;
	line-height: 1.2em;
}
.main-slide {
	background: #ebebeb;
	text-align: center;
}
.slider-cont {
	margin: 10px 20px;
	overflow: hidden;
	position: relative;
	padding: 0 30px;
}
a.slide-next {
	display: block;
	position: absolute;
	right: 0px; top: 25px;
	width: 29px; height: 29px;
	background: url('../img/slider_arrow.jpg') right top no-repeat;
	opacity: .7;
}
a.slide-prev {
	display: block;
	position: absolute;
	left: 0px; top: 25px;
	width: 29px; height: 29px;
	background: url('../img/slider_arrow.jpg') left top no-repeat;
	opacity: .7;
}
a.slide-prev:hover, a.slide-next:hover {
	opacity: 1;
}
.slider-imgs {
	list-style: none;
	padding: 0;
	margin: 0;
}
.slider-imgs li {
	width: 160px;
	text-align: center;
	float: left;
}
.comments-big {
	background: url('../img/comments_big.jpg') left top no-repeat;
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	color: #aaa;
	padding-left: 45px;
	margin: 15px 0 0 10px;
	font-family: 'Myriad Pro';
	float: left;
}
.comments-small {
	float: right;
	background: url('../img/comments_small.jpg') left top no-repeat;
	padding-left: 30px;
	margin: 20px 10px 0 0;
	font-size: 14px;
	color: #aaa;
}
.all-news {
	list-style: none;
	padding: 0; margin: 0;
}
.all-news li {
	margin-bottom: 20px;
}
.block-header {
	margin: 10px 0 10px 220px;
	font-size: 30px;
	font-family: 'Myriad Pro';
	font-weight: bold;
	color: #464646;
}
.all-news-date {
	float: left;
	width: 200px; height: 160px;
	padding-top: 40px;
	background: #e0e0e0;
	border-radius: 5px;
	text-align: center;
	color: #888888;
	font-family: 'Myriad Pro';
	position: relative;
}
.all-news-date:after {
	position: absolute;
	content: '';
	width: 9px; height: 22px;
	right: -9px; top: 89px;
	background: url('../img/all_news_arrow.jpg');
}
.all-news-date span {
	display: block;
	line-height: 1em;
}
.all-news-date .time {
	font-size: 14px;
}
.all-news-date .day {
	font-size: 72px;
	font-weight: bold;
}
.all-news-date .month {
	font-size: 24px;
	font-weight: bold;
}
.all-news-date .year {
	font-size: 14px;
}
.all-news-text {
	position: relative;
	margin-left: 220px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 0 #d9d9d9;
	height: 200px;
	overflow: hidden;
	color: #464646;
	font-family: 'Myriad Pro';
}
.all-news-text img {
	float: left;
}
.all-news-header {
	margin: 10px 0 10px 230px;
	font-size: 24px;
	font-weight: bold;
}
.all-news-header a {
	color: #464646;
	text-decoration: none;
}
.all-news-header a:hover {
	color: #00acba;
}
.all-news-text .txt {
	font-size: 14px;
	margin-left: 230px;
	margin-right: 20px;
}
.icon-comment {
	background: url('../img/icon_comment.png') left top no-repeat;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #b6b6b6;
	margin-left: 30px;
	margin-top: 15px;
	padding-right: 15px;
	border-right: 1px solid #e1e1e1;
	display: inline-block;
}
.icon-fly {
	background: url('../img/icon_fly.png') left top no-repeat;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #b6b6b6;
	display: inline-block;
	margin-left: 15px;
}
a.read-full {
	position: absolute;
	right: 0px; bottom: 14px;
	display: block;
	width: 155px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-family: 'Myriad Pro';
	font-size: 12px;
	background: #00acba;
	text-shadow: 0 1px 0 #00929e;
	float: right;
	border-radius: 3px;
	box-shadow: 0 4px 0 #009aa7;
	padding: 5px 0;
	margin: 5px 15px 0 0;
}
a.read-full:active {
	box-shadow: none;
	bottom: 10px;
}
.pagination {
	list-style: none;
	padding: 0; margin: 20px 0 0 10px;
	float: left;
}
.pagination li {
	box-shadow: 0 2px 2px #d9d9d9;
	float: left;
	background: #fff;
	width: 28px;
	height: 25px;
	border-bottom: 4px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	border-left: 1px solid #d4d4d4;
	font-weight: bold;
	font-family: 'Myriad Pro';
}
.pagination li:first-child {
	border-radius: 2px 0 0 2px;
	border-left: none;
}
.pagination li:last-child {
	border-radius: 0 2px 2px 0;
}
.pagination a {
	color: #8d8d8d;
	display: block;
	padding-top: 3px;
	height: 22px;
	text-decoration: none;
}
.pagination li.current {
	background: #00acba;
	border-bottom-color: #009aa7;
}
.pagination li:active {
	border-bottom: none;
	position: relative;
	top: 4px;
}
.pagination li.current a {
	color: #fff;
	text-shadow: 0 2px 0 #00929e;
}
.prev-page {
	box-shadow: 0 2px 2px #d9d9d9;
	float: left;
	width: 30px;
	height: 25px;
	border-bottom: 4px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	border-left: 1px solid #d4d4d4;
	font-weight: bold;
	font-family: 'Myriad Pro';
	border-radius: 2px;
	margin-top: 20px;
	background: #fff url('../img/prev.png') center no-repeat;
	margin-left: 220px;
}
.next-page {
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	float: left;
	width: 30px;
	height: 25px;
	border-bottom: 4px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	border-left: 1px solid #d4d4d4;
	font-weight: bold;
	font-family: 'Myriad Pro';
	border-radius: 2px;
	margin-top: 20px;
	background: #fff url('../img/next.png') center no-repeat;
	margin-left: 10px;
}
.prev-page:active, .next-page:active {
	border-bottom: none;
	position: relative;
	top: 4px;
}
.intresting {
	padding: 0;
	margin: 0; list-style: none;
	border-radius: 7px 0 0 7px;
	background: #464646;
	position: absolute;
	right: 0; bottom: 230px;
	padding: 10px;
	z-index: 1000;
	box-shadow: 0 2px 0 #d9d9d9;
}
.intresting li {
	padding: 10px;
	border-bottom: 1px solid #3c3c3c;
}
.intresting li:hover {
	background: #4f4f4f;
	border-radius: 5px;
}
.intresting li img {
	border: 1px solid #3c3c3c;
	float: left;
}
.intresting li a {
	text-decoration: none;
}
.intresting li:last-child {
	border-bottom: 0;
}
.intresting li.header {
	font-size: 18px;
	color: #00acba;
	font-weight: bold;
	padding: 0 0 10px 0;
	position: relative;
}
.intresting li.header:hover {
	background: none;
}
.int-name {
	font-size: 14px;
	color: #00acba;
	font-weight: bold;
	margin-left: 70px;
}
.int-text {
	font-size: 12px;
	color: #fff;
	margin-left: 70px;
	max-width: 320px;
}
.intresting li .close-int {
	position: absolute;
	right: 5px; top: 5px;
	border: none;
	cursor: pointer;
	width: 12px; height: 12px;
	background: url('../img/close_int.png');
}
.intresting li .close-int:hover {
	background-position: right top;
}
.left-company-block {
	width: 780px;
	float: left;
	margin-top: 10px;
}
.com-logo {
	width: 110px;
	height: 100px;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #d9d9d9;
	float: left;
}
.com-logo div {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
}
.com-logo img {
	max-width: 110px;
	height: auto;
}
.com-name {
	line-height: .9em;
	margin-bottom: 20px;
	font-size: 46px;
	color: #00acba;
	font-weight: bold;
	margin-left: 160px;
	margin-top: 15px;
}
.com-slog {
	margin-left: 160px;
	font-size: 18px;
	font-style: italic;
	color: #aaa;
	margin-top: -10px;
}
.about-company {
	background: #fff;
	border-radius: 3px;
	clear: both;
	margin-top: 20px;
	box-shadow: 0 2px 0 #d9d9d9;
	padding: 20px 25px;
	font-size: 14px;
	color: #464646;
}

.block-head {
	font-size: 24px;
	font-weight: bold;
}
.block-service {
	background: #fff;
	border-radius: 3px;
	clear: both;
	margin-top: 20px;
	box-shadow: 0 2px 0 #d9d9d9;
	padding: 0 0 20px;
	font-size: 14px;
	color: #464646;
	overflow: hidden;
	max-height: 450px;
	position: relative;
}
.block-service:after {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 60px;
	background: linear-gradient(rgba(255,255,255,0), #fff 50%);
	background: -o-linear-gradient(rgba(255,255,255,0), #fff 50%);
	background: -ms-linear-gradient(rgba(255,255,255,0), #fff 50%);
	background: -moz-linear-gradient(rgba(255,255,255,0), #fff 50%);
	background: -webkit-linear-gradient(rgba(255,255,255,0), #fff 50%);
	content: '';
}
.block-service:before {
	position: absolute;
	left: 10px; right: 10px; bottom: 30px;
	border-bottom: 1px solid #d8d8d8;
	content: '';
	z-index: 10;
}
.block-service .show-more {
	position: absolute;
	left: 50%; bottom: 7px; z-index: 100;
	color: #00acba; font-size: 12px;
	text-decoration: none;
	margin-left: -90px;
}
.block-service .show-more:before {
	position: absolute;
	left: -15px; top: 4px;
	content: '';
	width: 15px; height: 9px;
	background: url('../img/down_arrow.jpg') left top no-repeat;
}
.block-service .show-more:hover {
	text-decoration: underline;
}
.block-service .title span {
	font-size: 24px;
	font-weight: bold;
}
.block-service .title .price {
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	margin-top: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.service {
	position: relative;
	height: 20px;
	border-bottom: 1px dotted #cacaca;
	margin: 20px 25px 0;
}
.service .s-name {
	position: absolute;
	padding: 3px;background: #fff;
	left: 0; top: 0;
	font-size: 18px; font-weight: bold;
	color: #464646;
}
.service .s-price {
	position: absolute;
	right: 0; top: 0;
	padding: 3px; background: #fff;
	font-size: 18px; font-weight: bold;
	color: #464646;
}
.service-desc {
	font-size: 12px;
	color: #888888;
	padding-left: 10px;
	border-left: 1px solid #898989;
	margin-right: 160px;
	margin-top: 10px;
	margin-left: 25px;
}
h1 {
	text-align: center;
	color: #aaaaaa;
	font-size: 24px;
}
.works {
	list-style: none;
	padding: 0; margin: 0 -15px;
}
.works li {
	width: 382px; height: 320px;
	border-radius: 3px; 
	overflow: hidden;
	float: left;
	margin: 0 10px 20px;
	background: #fff url('../img/arrow_down.png') 15px 231px no-repeat;
	box-shadow: 0 2px 0 #d9d9d9;
}
.works img {
	border-bottom: 6px solid #00acba;
}
.works .desc {
	float: left;
	width: 200px;
	font-size: 14px;
	color: #464646;
	margin-top: 25px;
	margin-left: 15px;
	line-height: 1em;
}
.works .price {
	float: right;
	font-size: 12px;
	color: #959595;
	text-align: center;
	margin: 10px 5px 0;
}

.works .price div {
	width: 135px;
	height: 48px;
	background: url('../img/price.png');
	color: #fff;
	line-height: 48px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	position: relative;
	padding: 0 5px 0 14px;
	text-align: center;
}

.works .price div p {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
}

.company-right {
	float: right;
	width: 270px;
}
.mail {
	height: 57px;
	background: #fff;
	padding-top: 16px;
	border-radius: 3px;
	border-bottom: 4px solid #e5e5e5;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	margin-top: 20px;
}
.mail:before {
	background: #464646 url('../img/letter.png') center no-repeat;
	border-radius: 3px 0 0 3px;
	content: '';
	position: absolute;
	left: 0; top: 0; bottom: -4px;
	width: 80px;
	border-bottom: 4px solid #3f3f3f;
}
.mail:active {
	top: 4px;
	border-bottom-color: transparent;
	box-shadow: none;
}
.mail:active:before {
	border-bottom-color: transparent;
}
.mail a {
	display: block;
	padding: 0 0 0 105px;
	font-size: 22px;
	text-decoration: none;
	color: #464646;
	font-weight: bold;
	line-height: 1em;
}
.company-data {
	margin-top: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #d9d9d9;
	padding: 10px 10px 5px 10px;
}
.company-data > div {
	margin: 0 10px;
	border-top: 1px solid #e1e1e1;
	font-size: 16px;
	color: #464646;
	line-height: 1.2em;
	padding: 15px 0;
}
.company-data div div {
	min-height: 22px;
	position: relative;
	padding: 0 0 0 35px;
	margin-bottom: 6px;
}
.company-data a {
	color: #464646;
	
}

.company-data .icon-1 {
	font: .85em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
}

.company-data .icon-3 a {
	color: #00acba;
	font-size: 14px;
}
.company-data div div:before {
	position: absolute;
	left: 0; top: 0;
	width: 22px; height: 22px;
	background: url('../img/company_sprite.png');
	content: '';
}
.company-data div.icon-2:before {
	background-position: -22px 0;
}
.company-data div.icon-3:before {
	background-position: -44px 0;
}
.company-data div.icon-4:before {
	background-position: -66px 0;
}
.company-data div.icon-5:before {
	background-position: -88px 0;
}
.company-data div.icon-6:before {
	background-position: -110px 0;
}
.company-data div.icon-7:before {
	background-position: -132px 0;
}
.company-data > div:first-child {
	border-top: none;
}
.social-white {
	list-style: none;
	padding: 0; margin: 0;
	text-align: center;
}
.social-white li {
	display: inline-block; margin: 6px 3px;
}
.tells {
	margin: 15px 0 10px 35px;
	background: url('../img/fly_big.png') left top no-repeat;
	padding-left: 40px;
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
	color: #8e8e8e;
}
.side-adv {
	text-align: center;
	margin-top: 20px;
}
.company-filter {
	float: left;
	width: 272px;
	margin: 20px 0 0;
}
.white-block {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #d9d9d9;
	color: #464646;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
#cost-slider {
	height: 6px;
	border: 1px solid #d7d7d7;
	position: relative;
	margin-top: 33px;
	background: linear-gradient(#fff,#f6f8f3);
	background: -o-linear-gradient(#fff,#f6f8f3);
	background: -ms-linear-gradient(#fff,#f6f8f3);
	background: -moz-linear-gradient(#fff,#f6f8f3);
	background: -webkit-linear-gradient(#fff,#f6f8f3);
	border-radius: 3px;
}
.by-price .ui-slider-handle {
	top: -23px;
	margin-left: -14px;
	width: 14px; height: 29px;
	background: url('../img/slides.png');
	display: block;
	position: absolute;
}
.by-price .ui-slider-handle:last-child {
	margin-left: 0;
	background-position: -14px 0;
}
.cost-vals {
	text-align: left;
	margin-top: 13px;
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 18px;
}
.cost-vals:after {
	content: '–';
	position: absolute;
	left: 50%; top: 6px;
	margin-left: -3px;
	color: #acacac;
}
.cost-vals input {
	box-shadow: inset 0 2px 0 #f5f5f5;
	width: 67px;
	height: 26px;
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	padding-right: 5px;
	font-size: 14px;
	color: #464646;
	text-align: right;
}
.cost-max {
	float: right;
}
.select select {
	background: transparent;
	width: 220px;
	padding: 0px;
	font-size: 12px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	padding-top: 10px;
	height: 36px;
	text-indent: 10px;
	-webkit-appearance: none;
	position: absolute; top: 0; left: 0;
	font-size: 14px; color: #464646;
	cursor: pointer;
}
.select {
	margin: 10px auto 0;
	width: 200px;
	height: 36px;
	overflow: hidden;
	background: linear-gradient(#fff,#f7f7f7);
	background: -o-linear-gradient(#fff,#f7f7f7);
	background: -ms-linear-gradient(#fff,#f7f7f7);
	background: -moz-linear-gradient(#fff,#f7f7f7);
	background: -webkit-linear-gradient(#fff,#f7f7f7);
	border-radius: 3px;
	border: 1px solid #ccc;
	position: relative;
}
.select:after {
	content: '';
	position: absolute;
	width: 10px; height: 6px;
	background: url('../img/select_arrow.png');
	top: 15px; right: 10px;
}
.similar-block div {
	font-weight: normal;
}
.similar-block a {
	color: #004a80;
	font-size: 13px;
	display: inline-block;
	margin: 0 3px;
}
.big-right-block {
	margin-left: 292px;
}
h2 {
	font-size: 24px;
	color: #464646;
}
.companies-list {
	list-style: none;
	padding: 0; margin: 0;
}
.companies-list li {
	border-radius: 5px;
	box-shadow: 0 2px 0 #d9d9d9;
	background: #fff;
	padding: 15px 20px;
	height: 190px;
	margin-bottom: 20px;
}
.companies-list li.with-border {
	padding: 14px 16px;
	border: 2px solid #00acba;
}
.com-logo-small {
	float: left;
	width: 65px; height: 65px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
.com-logo-small div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 65px;
}
.com-logo-small img {
	
}
.com-text {
	margin-left: 85px;
	width: 480px;
	font-size: 12px;
	color: #888888;
}
.com-text .head {
	font-size: 24px;
	color: #464646;
	font-weight: bold;
}
.com-price {
	float: right;
	font-size: 18px;
	font-weight: bold;
	color: #00acba;
	margin-top: 30px;
}
.com-imgs {
	transition: all 0.5s linear;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #e5e5e5;
	opacity: .6;
}
.com-imgs img {
	float: left;
	margin-right: 23px;
}
a.company-info {
	float: right;
	border-radius: 3px;
	background: #45aab8;
	color: #fff;
	text-align: center;
	font-size: 14px;
	width: 130px; padding-bottom: 12px;
	padding-top: 12px;
	text-shadow: 0 2px 0 rgba(0,0,0,.3);
	border-bottom: 4px solid #3e99a5;
	text-decoration: none;
}
a.company-info:active {
	border: none;
	position: relative;
	top: 4px;
}
.companies-list li:hover .com-imgs {
	opacity: 1;
}
.just-text {
	margin-left: 290px;
	font-size: 14px;
	color: #7c7c7c;
	clear: both;
	padding-top: 10px;
}

.just-text p {
	margin: 0 0 20px;
}

.just-text.seo-visible p {
    text-indent: 30px;
}

.right-side {
	float: right;
	width: 200px;
}
.left-big-block {
	margin-right: 220px;
}
.block-name {
	color: #aaa;
	font-size: 16px;
	font-weight: bold;
}
.search-results {
	list-style: none;
	padding: 0; margin: 10px 0 0;
}
.search-results li {
	margin-bottom: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #d9d9d9;
	color: #464646;
	padding: 15px 20px;
}
.search-results a.name {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #464646;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.search-results a.name:hover {
	color: #45aab8;
}
.search-results .details {
	font-size: 12px;
	color: #888888;
	border-left: 1px solid #898989;
	padding-left: 10px;
	margin-right: 130px;
	margin-top: 10px;
}
.search-results .details b {
	color: #464646;
}
.res-com {
	padding-left: 30px;
	position: relative;
	font-size: 14px;
	margin-top: 10px;
}
.res-com a {
	color: #464646;
}
.res-com:before {
	content: '';
	position: absolute;
	background: url('../img/sprite.gif');
	left: 0; top: 0;
}
.res-com.cat:before {
	background-position: -104px -27px;
	width: 20px; height: 19px;
}
.res-com.cost {
	font-weight: bold;
}
.res-com.cost:before {
	background-position: -124px -27px;
	width: 18px; height: 19px;
}
.res-com.place:before {
	background-position: -142px -27px;
	width: 19px; height: 19px;
}
.res-com.place a {
	color: #a0a0a0;
}
.search-results a.details {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-family: 'Myriad Pro';
	font-size: 12px;
	background: #00acba;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	border-radius: 3px;
	box-shadow: 0 4px 0 #009aa7;
	padding: 5px 0;
	margin: 15px 0 0;
}
a.details:active {
	box-shadow: none;
	position: relative;
	top: 4px;
}
.pagin-block {
	clear: both;
	margin: 10px 0 20px;
}
.pagin-block > * {
	margin-top: 0;
}
.pagin-block .prev-page {
	margin-left: 0;
}
.modal {
	overflow: hidden;
	opacity: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	border-radius: 5px;
	background: #fff;
}
.modal .title {
	margin-bottom: 0;
}
#cont-map {
	width: 860px;
	overflow: hidden;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal-add {
	text-align: right;
	color: #fff;
	margin-top: 8px;
	text-shadow: 0 2px 0 rgba(0,0,0,.3);
}
.close-modal {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 22px;
	height: 22px;
	background: url('../img/close_popup.png');
	cursor: pointer;
	z-index: 10;
}
#cont-map .close-modal {
	display: inline-block;
	margin-left: 20px;
	position: relative; top: 4px; right: -5px;
}
#cont-map .close-modal:hover {
	background-position: right top;
}
#map {
	height: 430px;
}
#contactus {
	width: 700px;
	padding: 20px 25px;
}
a.cont-btn {
	display: inline-block;
	width: 290px; height: 150px;
	padding-top: 220px;
	border-radius: 3px;
	border: 1px solid #ececec;
	border-radius: 3px;
	text-align: center;
	color: #888888;
	font-size: 14px;
	text-decoration: none;
	vertical-align: top;
	background: #f9f9f9;
	margin: 0 20px;
}
a.cont-btn:hover {
	border-color: #45aab8;
}
.cont-btn .btn-name {
	font-size: 24px;
	font-weight: bold;
	color: #464646;
	margin-bottom: 30px;
}
.cont-btn.letter {
	background: url('../img/big_letter.png') center 40px no-repeat;
}
.cont-btn.call {
	background: url('../img/big_call.png') center 40px no-repeat;
}
.first-screen {
	text-align: center;
	width: 700px;
	position: relative;
}
.write-letter, .get-call, .contact-success {
	position: absolute;
	left: 765px;
	top: 0px;
}

a.modal-back {
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	background: linear-gradient(#fff,#f7f7f7);
	background: -o-linear-gradient(#fff,#f7f7f7);
	background: -ms-linear-gradient(#fff,#f7f7f7);
	background: -moz-linear-gradient(#fff,#f7f7f7);
	background: -webkit-linear-gradient(#fff,#f7f7f7);
	display: inline-block;
	width: 110px;
	height: 29px; padding-top: 7px;
	font-size: 16px;
	color: #7c7c7c;
	text-align: center;
	text-decoration: none;
}
.mod-head {
	display: inline-block;
	margin-left: 25px;
}
.hint {
	float: left;
	width: 120px;
	text-align: right;
	font-size: 18px;
	color: #252525;
	padding-top: 7px;
}
.input {
	margin-left: 140px;
}
.input input {
	margin-bottom: 20px;
	width: 400px;
	height: 34px;
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	box-shadow: inset 0 2px 0 #efefef;
	text-indent: 10px;
	font-style: italic;
	font-size: 14px;
	font-family: 'Myriad Pro';
	background: #f9f9f9;
}
.input input:focus, .input textarea:focus {
	border-color: #00acba;
	/*font-style: normal;*/
	background: #fff;
}
.inp-comm {
	padding: 5px 0 5px 150px;
	font-size: 12px;
	color: #888888;
	font-style: italic;
	margin-top: -20px;
}
.input textarea {
	margin-top: 5px;
	padding: 5px;
	font-family: 'Myriad Pro';
	width: 540px;
	height: 190px;
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	box-shadow: inset 0 2px 0 #efefef;
	font-size: 14px;
}
.submit {
	padding: 12px 20px;
	background: #00acba;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 2px 0 #00929e;
	border-radius: 3px;
	border: none;
	border-bottom: 4px solid #009aa7;
	box-shadow: 0 2px 1px rgba(0,0,0,.2);
	color: #fff;
}
.submit:active {
	border-bottom: none;
	position: relative; top: 4px;
}
.submit[disabled] {
	background: #e1e1e1;
	border-color: #cacaca;
	color: #a1a1a1;
	text-shadow: none;
}
.submit[disabled]:active {
	border-bottom-width: 4px;
	position: static;
}
.send-block {
	margin-top: 15px;
	position: relative;
}
.send-block .submit {
	float: right;
}

.get-call .hint {
	line-height: 1em;
}
.get-call .input input {
	width: 210px;
}

.get-call .input span {
	display: inline-block;
	width: 175px;
	font: italic .75em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #888;
	margin: 0 0 0 12px;
	vertical-align: middle;
}
.get-call label {
	display: block;
	position: relative;
}
.get-call label span {
	position: absolute;
	left: 110px; top: 0;
	font-size: 12px;
	font-style: italic;
	color: #888888;
}
.get-call .input input[type=radio] {
	width: auto; height: auto;
	margin-right: 10px;
}
.captcha-text {
	position: absolute;
	right: 430px;
	top: 8px;
	color: #a1a1a1;
	font: .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	text-align: right;
}
.categories {
	list-style: none;
	padding: 0; margin: 0;
}
.categories li {
	margin-top: 15px;
}
.categories li:before {
	content: '◾ ';
	color: #00acba;
}
.categories a {
	color: #464646;
	text-decoration: none;
}
.categories a:hover {
	text-decoration: underline;
}
.articles-list {
	padding: 0;
	margin: 0 0 0 -15px;
	display: block;
	width:890px;
}
.articles-list .art {
	display: inline-block;
	vertical-align:top;
	width: 265px;
	margin: 0 0px 25px 15px;
	padding:0;
	background: #fff;
	box-shadow: 0 4px 0 #d9d9d9;
	border-radius: 5px;
	overflow: hidden;
}
.art-rew .art-img {
	border-bottom: 6px solid #4f9dca;
	width: 267px;
	height: 148px;
}
.art-reg .art-img {
	border-bottom: 6px solid #f68f56;
	width: 267px;
	height: 148px;
}
.art-inf .art-img {
	border-bottom: 6px solid #5eba82;
	width: 267px;
	height: 148px;
}
.art-txt {
	margin: 15px 20px;
	font-size: 14px;
	color: #464646;
}
.art-txt .art-date {
	font-size: 12px;
	color: #b7b7b7;
}
.art-txt .art-name {
	font-size: 24px;
	font-weight: bold;
}
.arts-check {
	font-size: 24px;
	color: #acacac;
	font-weight: bold;
	margin-bottom: 10px;
}
.arts-check input {
	display: none;
}
.arts-check label {
	display: inline-block;
	padding-left: 40px;
	margin-left: 30px;
	font-size: 18px;
	position: relative;
}
.arts-check label:before {
	position: absolute; left: 0; top: 0;
	content: ''; display: block;
	width: 25px; height: 25px;
	background: url('../img/arts_check.png');
}
#art-reviews + label {
	color: #4f9cca;
}
#art-reviews:checked + label:before {
	background-position: -25px top;
}
#art-regions + label {
	color: #f78f56;
}
#art-regions + label:before {
	background-position: left -25px;
}
#art-regions:checked + label:before {
	background-position: -25px -25px;
}
#art-info + label {
	color: #5eb982;
}
#art-info + label:before {
	background-position: left -50px;
}
#art-info:checked + label:before {
	background-position: -25px -50px;
}

.block-development {
	text-align: center;
	padding: 0 0 125px;
}

.block-development p {
	font: bold 1.2em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #666;
	margin: 0 0 68px;
}

.block-development p span {
	border: 1px solid #bcbcbc;
	display: inline-block;
	width: 485px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 21px 0 25px;
}

.login-modal,
.registration {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 565px;
	height: 500px;
	padding: 0 25px;
	overflow: visible;
}

.registration {
	width: 550px;
}

.login-modal .block,
.registration .block {
	padding: 22px 0 29px;
}

.login-modal .block h4 {
	font: bold 1.4em/1.1em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #252525;
	margin: 5px 0 33px;
}

.login-modal .title-modal {
	margin: 0 0 14px;
}

.registration .title-modal {
	margin: 0 0 38px;
}

.login-modal .title-modal p,
.registration .title-modal p {
	font: bold 1.4em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #464646;
	opacity: .4;
	text-align: center;
}

.login-modal .block .from,
.registration .block .from {
	float: left;
	width: 320px;
	border-right: 1px solid #e5e5e5;
	padding: 0 0 20px;
}

.registration .block .from {
	float: none;
	width: auto;
	border: none;
	padding: 0;
}

.login-modal .block .from ul,
.registration .block .from ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.login-modal .block .from ul .input,
.registration .block .from ul .input {
	margin: 0 0 10px;
	position: relative;
}

.login-modal .block .from ul label,
.registration .block .from ul label {
	display: inline-block;
	font: 1.1em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #252525;
	text-align: right;
	width: 66px;
	margin: 0 18px 0 0;
	vertical-align: middle;
}

.registration .block .from ul label {
	width: 73px;
}

.login-modal .block .from ul .input input,
.registration .block .from ul .input input {
	width: 200px;
	margin: 0;
	height: 33px;
	vertical-align: middle;
}

.login-modal .block .from ul p {
	padding: 7px 0 0 94px;
	font: .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
}

.login-modal .block .from ul p span {
	color: #ff563d;
	display: block;
}

.login-modal .block .from ul p a {
	color: #00acba;
}

.login-modal .block .from ul li:last-child,
.registration .block .from ul li:last-child {
	text-align: right;
	padding: 0 31px 0 0;
}

.registration .block .from ul li:last-child {
	padding: 0 49px 0 0;
	margin: 32px 0 0;
}

.login-modal .block .from ul li:last-child input,
.registration .block .from ul li:last-child input {
	width: 86px;
	height: 35px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #00acba;
	border: none;
	font: bold .9em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 2px 0 rgba(0,0,0,.15);
	box-shadow: 0 4px 0 #009aa7, 0 6px 3px rgba(0,0,0,.25);
	position: relative;
}

.registration .block .from ul li:last-child input {
	width: 177px;
}

.login-modal .block .from ul li:last-child input:active,
.registration .block .from ul li:last-child input:active {
	top: 4px;
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.registration .block .from ul li button {
	text-indent: -9999px;
	border: none;
	width: 20px;
	height: 11px;
	background: url(../img/sprite.gif) no-repeat -307px -28px;
	padding: 0;
	position: relative;
	left: 13px;
	vertical-align: middle;
}

.registration .block .from ul li .show-p {
	background-position: -327px -28px;
	height: 16px;
}

.registration .block .from ul li .tooltip {
	right: -212px;
	top: -8px;
	background: #f5d69e;
	width: 172px;
	padding: 12px 20px 13px;
	position: absolute;
	color: #544833;
	font: italic .8em/1.2em "Myriad Pro", "MyriadPro", Helvetica, Arial, sans-serif;
}

.registration .block .from ul li .tooltip:before {
	display: block;
	position: absolute;
	content: "";
	width: 12px;
	height: 27px;
	background: url(../img/sprite.gif) no-repeat -347px -28px;
	left: -12px;
	top: 50%;
	margin-top: -13px;
}

.login-modal .block .login-social {
	float: left;
	padding: 0 0 0 29px;
	width: 200px;
}

.login-modal .block .login-social h4 {
	margin: 5px 0 24px;
}

.login-modal .block .login-social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #ccc;
	margin: 0 0 18px 25px;
	position: relative;
}

.login-modal .block .login-social a:before {
	display: block;
	position: absolute;
	background: url(../img/sprite.gif) no-repeat;
	content: "";
}

.login-modal .block .login-social .vk:before {
	background-position: -323px 0;
	width: 20px;
	height: 26px;
	left: 21px;
	top: 17px;
}

.login-modal .block .login-social .fc:before {
	background-position: -343px 0;
	width: 16px;
	height: 28px;
	left: 21px;
	top: 16px;
}

.login-modal .block .login-social .g:before {
	background-position: -359px 0;
	width: 28px;
	height: 28px;
	left: 16px;
	top: 16px;
}

.login-modal .block .login-social .tw:before {
	background-position: -387px 0;
	width: 28px;
	height: 23px;
	left: 17px;
	top: 19px;
}

.static-text {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 0 #D9D9D9;
    color: #464646;
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 1.6em;
    padding: 25px;
    position: relative;
}



