/* Страница родительской категории каталога */
.services-list {
        list-style: disc;
        color: #484848;
        padding: 30px 40px;
        background: #fff;
        border-radius: 5px;
        font-size: 14px;
}
.services-list li {
        width: 50%;
        float: left;
        margin-bottom: 25px;
}
.services-list a {
        color: #484848;
        text-decoration: none;
}



.main-block .banner-right {
    width: 200px;
}

.company-right .tells {
    margin: 15px 0 0;
    padding-top: 10px;
}

.news-main .tells {
    margin:0;
    padding: 10px 10px 0 0;
    vertical-align:top;
    background: none;
    position: relative;
    display: inline-block;
}

.similar-block a {
    font-size: 15px;
}

#logo-cont {
    text-align: center;
    line-height: 202px;

}

#logo-cont img {
    vertical-align: middle;
}

.block-private .block-work .img {
    text-align: center;
    line-height: 225px;
}

.block-private .block-work .img img {
    vertical-align: middle;
}

.block-private .block-work .img a {
    position:absolute;
    left:0;
    padding: 10px 10px 15px 10px;
    background: #F6F6F6;
    height: 10px;
    line-height:10px;
    color: #00ACBA;
    font: 0.9em/1.2em "Myriad Pro", "MyriadPro";
}

.block-private .block .info ul select
{
    height: 120px !important;
    width: 840px !important;
}

.red {
    color: #F66;
}

#private .red {
    font-size: small;
}

#private success {
    padding: 10px;
    background: #6F6;
    display: inline-block;
    margin-bottom: 15px;
}

/*****************/
/** QapTcha CSS **/
/*****************/
.qaptcha {float:left;width:144px;}
.qaptcha .clr{clear:both}
.qaptcha .bgSlider {width:171px;height:37px;float:left;}
.qaptcha .Slider {
    width:45px;
    height:27px;
    background: #00acba url('../img/captcha_arr.png') center 8px no-repeat;
    cursor:e-resize;
    position:relative;
    top:0;
    left:0;
	border-bottom: 4px solid #009aa7;
	margin-left: -23px; margin-top: 2px;
	border-radius: 3px;
	box-shadow: 0 2px 1px rgba(0,0,0,.2);
}
.qaptcha .TxtStatus {display: none;}
.qaptcha .dropSuccess {color:#4e8b37}
.qaptcha .dropError {color:#bb2828}

.captcha-wrap {
	padding-left: 25px;
	width: 174px; height: 35px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	box-shadow: inset 0 2px 0 #efefef;
	position: absolute;
	right: 220px;
	top: 5px;
}
.captcha-wrap:after {
	position: absolute;
	right: 2px; top: 2px;
	width: 43px; height: 27px;
	content: '';
	border: 2px dotted #cfcfcf;
}

#email_form .message-cont .formErrorContent {
    margin-left:-140px
}

#email_form .message-cont .formErrorArrow {
    margin-left:-125px
}

.contact-success .ok {
    font-size: large;
    text-align: center;
    margin: 70px 0 0 0;
    width: 700px;
}

#restore li p {
    font-style: italic;
    font-size: 13px;
    padding: 10px 0 10px 95px;
    display: block;
}

.aciTree li {
    margin: 0 0 0 0 !important;
}

.aciTree label {
    padding-left: 0 !important;
    width: auto !important;
}


.serv-cost-val {
    display: inline-block;
    margin-left: 20px;
}


/** MESSAGES **/

.messages {
    margin-bottom: 10px;
}

.messages .success {
    font-size: small;
    color: #090;
    padding: 5px 5px 5px 10px;
    border-left: 4px solid #090;
}
