{% load common %}
{% load pytils_dt %}
{% load thumbnail %}
<!DOCTYPE html style="height:100%;">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="{{ seo_data.title }}">
        <meta name="description" content="{{ seo_data.description }}">
        <meta name="keywords" content="{{ seo_data.keywords }}">
        <title>{{ seo_data.title }}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/main.css?v=2">
		<link rel="stylesheet" href="/static/css/overrides.css?v=2">
		<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
        {% block additional_styles %}{% endblock %}

	</head>
    <style>
        body {
            height:100%;
            width: 1280px;
        }

        .page-block {
            height:100%;
        }

        .cont404 {
            height:100%;
            display:table;
            table-layout:fixed;
        }

        .leftside {
            vertical-align: middle;
            display:table-cell;
            height: 100%;
            width: 400px;
            background: #454545;
            text-align: center;
        }

        .leftside .err.big {
            font-size: 20pt;
        }

        .leftside .err {
            color: black;
            font-size: 13pt;
            line-height: 1.2;
            font-weight: bold;
            color: #2A2A2A;
        }

        .leftside .cap404 {
            color: #00abb9;
            line-height: 1;
            font-size: 100pt;
            font-weight: bold;
        }

        .rightside {
            vertical-align: middle;
            display:table-cell;
            height: 100%;
            width: 920px;
        }

        .logo404 {
            position: absolute;
            bottom: 10px;
            margin-left: 70px;
        }

        .rightside .articles-list {
            margin-left: 20px;
        }

        .rightside .heading {
            margin: 0 0 50px 15px;
        }

        .rightside .heading a {
            display: inline-block;
            border-radius: 5px;
            padding: 10px;
            background: #00acba;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .rightside .heading .btn {
            margin: 1px 15px;
            background:url(/static/img/home_icon.png) no-repeat;
            padding-left: 25px;
            line-height:1;
        }

        .rightside .heading h2 {
            display: inline-block;
            position: absolute;
            width: 500xp;
            color: 8d8d8d;
            margin: 0 0 20px 23px;
            font-size: 23pt;
        }
    </style>
	<body>
    <div class="page-block">
        <div class="cont404">
            <div class="leftside">
                   <div class="err big">Ошибка</div>
                   <div class="cap404">404</div>
                   <div class="err">Страница, которую вы<br>ищете - не существует</div>
                   <div class="logo404"><img src="/static/img/logo_transp.png"></div>
            </div>
            <div class="rightside">
                <div class="articles-list">
                    <div class="heading">
                        <a href="/">
                            <div class="btn">Перейти на главную</div>
                        </a>
                        <h2>Вас может заинтересовать</h2>
                    </div>
                    {% for item in articles %}
                     <div class="art art-rew">
                        <div class="art-img">
                        {% thumbnail item.image "267x148" crop="center" as im %}
                        <a href="{{ item.link }}"><img src="{{ im.url }}"></a>
                        {% endthumbnail %}
                        </div>
                        <div class="art-txt">
                            <div class="art-name"><a href="{{ item.link }}" style="color: black; text-decoration: none;">{{ item.title }}</a></div>
                            <div class="art-date">{{ item.created_at|ru_strftime:"%d.%m.%Y" }}</div>
                             {{ item.announce }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
	</body>
</html>