{% extends "bootstrap.html" %}
{% load common %}

{% block visible_data %}
		<header>
            {% include 'content/_top_banners.html' %}
			<div class="header clearfix">
				<div class="logo"><a {% if not vertical == 'index' %}href="/"{% endif %}><img src="/static/img/logo.gif" alt=""></a></div>
				<div class="slogan">
					{% partial 'top_company_teaser' %}
				</div>
				<div class="add-company">
                    <a href={% if lk_url %}"{{ lk_url }}"{% else %}"#login" rel="modal"{% endif %}>
                        Добавить компанию<br>в каталог
                    </a>
                </div>
				<div class="login">
                    {% if current_user %}
                    <p><a href="{{ lk_url }}">Личный кабинет</a></p>
					<p><a href="{% url 'auth:logout' %}">выход</a></p>
                    {% else %}
					<p><a id="login-modal-link" href="/auth/login-modal/" mw="600">Вход</a></p>
					<p><a id="reg-modal-link" href="/auth/register-modal/" mw="400">регистрация</a></p>
                    {% endif %}
				</div>
			</div>
			<div class="block-search clearfix">
				<span>Поиск</span>
                <form action="{% url 'search' %}">
				<input type="text" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Например: Поклейка обоев">
				<button type="submit"><i></i></button>
                </form>
			</div>
			<div class="menu-block clearfix">
				<div class="item">
					<a class="link js-catalog" href="#">Услуги<br> компаний</a>
					{% include 'content/_services_menu.html' %}
				</div>
				<div class="item">
					<a class="link" href="{% url 'static_page' 'arenda-spectehniki' %}">Аренда<br> спецтехники</a>
				</div>
				<div class="item">
					<a class="link" href="{% url 'static_page' 'magazin-elektro-instrumentov' %}">Магазин электро-<br> инструментов</a>
				</div>
				<div class="item">
					<a class="link" href="{% url 'news_list' %}">Новости</a>
				</div>
				<div class="item">
					<a class="link" href="{% url 'articles_list' %}">Статьи</a>
				</div>
			</div>
		</header>
		<div class="page-block">
        {% block content %}{% endblock %}
        </div>
		<footer>
			<div class="footer">
				<div class="clearfix">
					<div class="logo"><a href="http://askremont.ru/media/ugc/2014/03/07/setka.jpg" class="fancybox"><img src="/static/img/logo-footer.gif" alt=""></a></div>
					<nav>
						<div class="menu">
							<ul class="clearfix">
								<li><a href="{% url 'news_list' %}">Новости</a></li>
								<li><a href="{% url 'articles_list' %}">Статьи</a></li>
								<li><a href="{% url 'static_page' 'reklama' %}">Реклама на сайте</a></li>
							</ul>
						</div>
					</nav>
					<div class="dev"><a href="http://www.crtweb.ru" target="_blank"><img src="/static/img/crtweb.gif" alt=""></a></div>
					<div class="social">
                        <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter"></div>
					</div>
				</div>
			</div>
            {% partial 'counters' %}
		</footer>

{% endblock %}

