<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="{{ seo_data.title }}">
        <meta name="description" content="{{ seo_data.description }}">
        <meta name="keywords" content="{{ seo_data.keywords }}">
        <title>{{ seo_data.title }}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/main.css?v=2">
		<link rel="stylesheet" href="/static/css/overrides.css?v=2">
		<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
		<link rel="stylesheet" href="/static/css/validationEngine.jquery.css?v=2">
		<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
        {% block additional_styles %}{% endblock %}

		<!--[if lte IE 8]>
			<link rel="stylesheet" href="/static/css/ie.css">
		<![endif]-->

	</head>
	<body>
        {% block visible_data %}{% endblock %}
        {% block post_footer %}{% endblock %}
		<script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="/static/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="/static/js/vendor/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="/static/js/vendor/jquery.query-object.js"></script>
        <script src="/static/js/vendor/jquery.leanModal.min.js"></script>
        <script src="/static/js/vendor/jquery.validationEngine-ru.js"></script>
        <script src="/static/js/vendor/jquery.validationEngine.js"></script>
        <script src="/static/js/vendor/masonry.pkgd.min.js"></script>
        <script src="/static/js/vendor/jquery.fancybox.js"></script>
		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/main.js?v=3"></script>
		<script src="/static/js/auth.js?v=3"></script>
        {% block additional_js %}{% endblock %}
        <script src="http://share.pluso.ru/pluso-like.js" defer="defer"></script>
        <!--[if (gte IE 6)&(lte IE 8)]>
			<script type="text/javascript" src="/static/js/vendor/selectivizr-min.js"></script>
		<![endif]-->
	</body>
</html>