{% extends "bootstrap.html" %}
{% block visible_data %}
<div class="login-modal" id="login">
    <a href="#" class="close-modal"></a>
    <div class="block">
        <div class="title-modal">
            <p>Войти</p>
        </div>
        <div class="clearfix" id="login-modal-body">
            <div class="from">
                <h4>Авторизоваться</h4>
                <form action="" id="login_form">
                    {% csrf_token %}
                    <ul>
                        <li class="input">
                            <label for="">E-mail:</label>
                            <input type="text" id="login_username" name="username" class="validate[required]">
                        </li>
                        <li class="input">
                            <label for="">Пароль:</label>
                            <input type="password" name="password"  class="validate[required]">
                            <p>
                                <a href="/auth/restore-password/">Забыли пароль?</a>
                            </p>
                        </li>
                        <li>
                            <input type="submit" value="Войти">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="login-social">
                <h4>Войти, используя  социальные сети</h4>
                    <script defer="defer" src="//ulogin.ru/js/ulogin.js"></script><div id="uLogin-umynp" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,odnoklassniki,yandex,mailru,google;redirect_uri=http%3A//{{ domain }}/ulogin/postback/%3Fnext%3Dhttp%3A//{{ domain }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}