{% extends "bootstrap.html" %}
{% block visible_data %}
<div class="registration" id="registration">
    <a href="javascript:void(0);" class="close-modal"></a>
    <div class="block">
        <div class="title-modal"  style="width: 300px;">
            <p>Регистрация</p>
        </div>
        <div class="clearfix">
            <div class="from">
                <form action="" id="registration_form" class="reg_toggle">
                    {% csrf_token %}
                    <ul style="width: 330px;">
                        <li class="input">
                            <label for="registration_email">E-mail:</label>
                            <input type="text" class="validate[required]" data-prompt-position="topLeft:100,0" name="email" id="registration_email">
                        </li>
                        <li class="input">
                            <label  for="registration_password">Пароль:</label>
                            <input type="password" class="validate[required]" data-prompt-position="topLeft:100,0" id="showpassword" name="password" id="registration_password">
                        </li>
                        <li>
                            <input type="submit" value="Зарегистрироваться">
                        </li>
                    </ul>
                </form>
                <div class="reg_toggle" style="display:none;width: 350px;">
                    Регистрация прошла успешно. Мы отправили на Ваш e-mail инструкции для входа на сайт.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}