{% extends "bootstrap.html" %}
{% block visible_data %}
<div class="registration" id="restore">
    <a href="javascript:void(0);" class="close-modal"></a>
    <div class="block">
        <div class="title-modal">
            <p>Восстановление пароля</p>
        </div>
        <div class="clearfix">
            <div class="from">
                <form action="" id="restore_form" class="restore_toggle">
                    {% csrf_token %}
                    <ul>
                        <li class="input">
                            <label for="restore_email">E-mail:</label>
                            <input type="text" class="validate[required]" name="email" id="restore_email">
                        </li>
                        <li class="input">
                            <p>
                            Напишите E-mail, который был указан при регистрации.
                            На него будет выслны инструкции для восстановления пароля.
                            </p>
                        </li>
                        <li>
                            <input type="submit" value="Готово">
                        </li>
                    </ul>
                </form>
                <div class="restore_toggle" style="display:none;">
                    На Ваш e-mail высланы инструкции для восстановления пароля.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}