{% load thumbnail %}
{% if banner %}
<a href="{% url 'advert:transition' banner_id=banner.pk %}" target="_blank">
    <img src="/media/{{ banner.src }}"
        height="{{ banner.height }}"
        width="{{ banner.width }}"
        alt=""
        id="image-banner-{{ banner.id }}">
</a>
{% else %}
        {% if stub %}
        {% thumbnail stub stub_size as im %}
        <a href="{% url 'static_page' 'reklama' %}" style="padding:{{ im|margin:stub_size }};"><img src="{{ im.url }}"></a>
        {% endthumbnail %}
        {% else %}
        <a href="{% url 'static_page' 'reklama' %}"><img style="width: 100%; height:100%;" src="/static/img/advert_stub.jpg"></a>
        {% endif %}
{% endif %}