{% extends 'base.html' %}
{% load thumbnail mptt_tags  %}

{% block additional_styles %}
<link rel="stylesheet" href="/static/css/jquery.formstyler.css?v=2">
<link rel="stylesheet" href="/static/css/company_edit.css?v=2">
{% endblock %}

{% block content %}
<div class="block-private">
    <div class="block-title">
        <p>Личный кабинет</p>
    </div>
    <div id="tabs">
        <ul class="tabs clearfix">
            <li><a href="{{ lk_url }}">Редактировать информацию о компании</a></li>
            <li class="ui-tabs-active"><a href="{% url 'user:change_password' %}">Изменить пароль</a></li>
        </ul>
        <div class="block" id="edit-password">
            <div class="edit-password">
                <div class="messages">
                {% if messages %}
                {% for message in messages %}
                <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <label for="">Введите пароль:</label>
                            {{ form.password }}
                            <div class="red">{{ form.password.errors }}</div>
                        </li>
                        <li>
                            <label for="">Пароль еще раз:</label>
                            {{ form.confirm_password }}
                            <div class="red">{{ form.confirm_password.errors }}</div>
                        </li>
                        <li>
                            <input type="submit" value="Сохранить изменения">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}