<div class="modal" id="cont-map">
    <div class="title clearfix">
        <span>Адрес компании</span>
        <div class="modal-add">
            {{ company.address }}
            <a href="javascript:void(0);" class="close-modal" style="padding:0px; margin-top:0;"></a>
        </div>
    </div>
    <div id="map"></div>
</div>