<div class="modal" id="contactus" style="display:none">
    <a href="javascript:void(0);" class="close-modal"></a>
    <div class="first-screen">
        <h1>Как вы хотите с нами связаться?</h1>
        <a href="#" class="cont-btn letter">
            <div class="btn-name">Отправить сообщение</div>
            После отправки текстового сообщения, мы ответим вам на вашу почту в ближайшее время.
        </a>
        <a href="#" class="cont-btn call">
            <div class="btn-name">Заказать звонок</div>
            Вы оставите нам свой номер и мы перезвоним в удобное для вас время.
        </a>
    </div>
    <div class="write-letter">
        <a href="#" class="modal-back">&larr; Назад</a>
        <h1 class="mod-head">Отправить сообщение</h1>
        <div>
            <form id="email_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="company_id" value="{{ company.pk }}">
            <div class="hint">Ваше имя:</div>
            <div class="input"><input name="name" type="text" class="validate[required]"></div>
            <div class="hint">Ваш E-mail:</div>
            <div class="input"><input name="email" type="text"  class="validate[required]" placeholder="Например: myemail@mail.ru"></div>
            <div class="inp-comm">Мы ответим вам на этот почтовый ящик</div>
            <div class="hint">Сообщение:</div>
            <div class="input message-cont"><textarea name="text" class="validate[required]"></textarea></div>
            <div class="send-block">
                <div class="captcha-text">Перетяните ползунок на правую сторону,<br>чтобы разблокировать кнопку отправки</div>
                <div class="captcha-wrap qaptcha"></div>
                <input type="submit" class="submit" value="Отправить сообщение" disabled="true">
            </div>
            </form>
        </div>
    </div>
    <div class="get-call">
        <a href="#" class="modal-back">&larr; Назад</a>
        <h1 class="mod-head">Заказать звонок</h1>
        <div>
            <form id="phone_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="company_id" value="{{ company.pk }}">
            <div class="hint">Ваше имя:</div>
            <div class="input"><input name="name" type="text" class="validate[required]"></div>
            <div class="hint">Ваш номер телефона:</div>
            <div class="input">
                <input type="text" name="phone" class="validate[required]" style="margin-top:10px;" placeholder="+7 922 848 42 42">
                <span>Городской номер телефона  указывайте с кодом города</span>
            </div>
            <div class="hint">Когда перезвонить:</div>
            <div class="input" style="padding-top: 10px;">
                <label for="morning"><input type="radio" id="morning" value="с 9:00 до 11:00" name="time"> Утром <span>с 9:00 до 11:00</span></label>
                <label for="dinner"><input type="radio" id="dinner" value="с 11:00 до 15:00" name="time"> Днем <span>с 11:00 до 15:00</span></label>
                <label for="evening"><input type="radio" id="evening" value="с 15:00 до 18:00" name="time"> Вечером <span>с 15:00 до 18:00</span></label>
            </div>
            <div class="send-block" style="width:700px; margin-top: 80px;">
                <div class="captcha-text" style="right: 433px;">Перетяните ползунок на правую сторону,<br>чтобы разблокировать кнопку отправки</div>
                <div class="captcha-wrap qaptcha"></div>
                <input type="submit" class="submit" value="Заказать звонок" disabled="true">
            </div>
            </form>
        </div>
    </div>
    <div class="contact-success">
        <h1 class="mod-head">Сообщение отправлено</h1>
        <div class="ok">
            <img src="/static/img/ok.png"><br />
            Менеджеру компании отправлено уведомление
            <br>в ближайшее время он выйдет на связь указанным Вами способом
        </div>
    </div>
</div>