{% extends 'base.html' %}
{% load banners pytils_dt thumbnail mptt_tags  %}

{% block content %}
<div class="main-block clearfix">
        <div class="right-side">
                {% advert 'catalog' 'sidebar' %}
        </div>
        <div class="left-big-block">
                <ul class="breadcrumbs" style="min-height:20px;">
                        <li class="main"><a href="/">Главная</a></li>
                        <li>{{ category.title }}</li>
                </ul>
                <h1 class="block-header" style="text-align:left;margin-left: 0;">{{ category.title }}</h1>
                <ul class="services-list clearfix">
                {% for cat in subcategories %}
                        <li><a href="{{ cat.link }}">{{ cat.title }}</a></li>
                {% endfor %}
                </ul>
        </div>
</div>

{% if seo_data.visible_text %}
<div class="clear"></div>
<div class="just-text seo-visible" style="margin-left:0px;">
    <p>{{ seo_data.visible_text|safe }}</p>
</div>
{% endif %}
<div class="clear"></div>

<div class="big-banner clearfix">
    <div class="item">{% advert 'catalog' 'bottom_1' %}</div>
    <div class="item">{% advert 'catalog' 'bottom_2' %}</div>
</div>
{% endblock %}
