{% extends 'base.html' %}
{% load thumbnail mptt_tags  %}
{% load widget_tweaks %}

{% block additional_styles %}
<link rel="stylesheet" href="/static/css/jquery.formstyler.css?v=2">
<link rel="stylesheet" href="/static/css/company_edit.css?v=2">
<link rel="stylesheet" href="/static/js/vendor/acitree/css/aciTree.css">
{% endblock %}

{% block additional_js %}
<script src="/static/js/vendor/plupload/i18n/ru.js"></script>
<script src="/static/js/vendor/plupload/plupload.min.js"></script>
<script src="/static/js/askuploader.js"></script>
<script src="/static/js/vendor/acitree/js/jquery.aciPlugin.min.js"></script>
<script src="/static/js/vendor/acitree/js/jquery.aciTree.core.js"></script>
<script src="/static/js/vendor/acitree/js/jquery.aciTree.selectable.js"></script>
<script src="/static/js/vendor/acitree/js/jquery.aciTree.checkbox.js"></script>
<script src="/static/js/company_edit.js?v=2"></script>
{% endblock %}

{% block content %}
<div class="block-private">
    <div class="block-title">
        <p>Личный кабинет</p>
    </div>
    <div id="tabs">
        <ul class="tabs clearfix">
            <li class="ui-tabs-active"><a href="#private">Редактировать информацию о компании</a></li>
            <li><a href="{% url 'user:change_password' %}">Изменить пароль</a></li>
        </ul>
        <div class="block" id="private">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.owner }}
                {{ form.status }}
                {% if form.errors %}
                <h3 style="color:red;">Форма содержит ошибки! Не удалось сохранить компанию.</h3>
                {% endif %}
                <div class="selected logotype">
                    <h3>Логотип компании</h3>
                    <div class="clearfix">
                        <div class="img" id="logo-cont">
                            {% thumbnail form.instance.logo "200x200" as im %}
                            <img src="{{ im.url }}" alt="">
                            {% empty %}
                            <span>Логотип компании</span>
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
                            {% endthumbnail %}
                        </div>
                        <div class="red">{{ form.logo.errors }}</div>
                        <div class="add-logo" data-upload-url="{% url 'catalog:company_upload_file' %}" id="add-logo-cnt">
                            {{ form.logo }}
                            <a href="#" id="add-logo-btn">{% if form.instance.logo %}Заменить{% else %}Добавить{% endif %} логотип</a>
                        </div>
                    </div>
                </div>
                <div class="selected info">
                    <h3>Общая информация</h3>
                    <ul>
                        <li>
                            <label>
                                Название компании:
                                <div class="red">{{ form.title.errors }}</div>
                            </label>
                            {{ form.title }}
                        </li>
                        <li>
                            <label>
                                Слоган компании:
                                <div class="red">{{ form.slogan.errors }}</div>
                            </label>
                            {{ form.slogan }}
                        </li>
                        <li>
                            <label>
                                Сферы деятельности:
                                <div class="red">{{ form.categories.errors }}</div>
                            </label>
                            {{ form.categories|add_class:"hidden" }}
                            <div id="categories-container" style="padding-left: 180px;margin: -20px 0 20px 0;" class="aciTree" data-url="{% url 'catalog:get_categories' form.instance.pk|default:'0' %}"></div>
                        </li>
                        <li>
                            <label>
                                О компании:
                                <div class="red">{{ form.description.errors }}</div>
                            </label>
                            {{ form.description|attr:"maxlength:540" }}
                            <p>Символов осталось: <span id="desc-symbols-count">540</span></p>
                        </li>
                    </ul>
                </div>
                <div class="selected contacts">
                    <h3>Контактная информация</h3>
                    <ul>
                        <li>
                            <label>
                                Укажите город:
                                <div class="red">{{ form.city.errors }}</div>
                            </label>
                            {{ form.city }}
                        </li>
                        <li>
                            <label for="">
                                Адрес:
                                <div class="red">{{ form.address.errors }}</div>
                            </label>
                            {{ form.address }}
                        </li>
                        <li>
                            <label for="">
                                Сайт компании:
                                <div class="red">{{ form.site.errors }}</div>
                            </label>
                            {{ form.site }}
                        </li>
                        <li>
                            <label for="">
                                E-mail:
                                <div class="red">{{ form.email.errors }}</div>
                            </label>
                            {{ form.email }}
                        </li>
                        <li>
                            <label for="">
                                Телефоны:
                                <div class="red">{{ form.phones.errors }}</div>
                            </label>
                            {{ form.phones }}
                        </li>
                        <li>
                            <label for="">
                                Контактное лицо:
                                <div class="red">{{ form.contact_person.errors }}</div>
                            </label>
                            {{ form.contact_person }}
                        </li>
                    </ul>
                </div>
                <div class="selected services formsets">
                    <h3>Информация об услугах</h3>
                    {% with services_formset=inlines.0 %}
                    {{ services_formset.management_form }}
                    {{ services_formset.non_field_errors }}
                    {% for service_form in services_formset %}
                    <div class="js-formset-item block-services" {% if forloop.last %}style="display:none;"{% endif %}>
                        <a href="javascript:void(0);" class="close js-remove-formset"></a>
                        {{ service_form.company }}
                        {{ service_form.id }}
                        <ul class="clearfix">
                            <li>
                                <label>
                                    Название услуги:
                                    <div class="red">{{ service_form.title.errors }}</div>
                                </label>
                                {{ service_form.title }}
                                <span style="display:none">{{ service_form.DELETE }}</span>
                            </li>
                            <li>
                                <label>
                                    Стоимость услуги:
                                    <div class="red">{{ service_form.cost.errors }}</div>
                                </label>
                                {{ service_form.cost_type|add_class:'serv-cost-type'|attr:'autocomplete:off' }}
                                <div class="serv-cost-val" {% if service_form.instance.cost_type = 'individual' or forloop.last %}style="display:none;"{% endif %}>
                                от {{ service_form.cost }} руб.
                                </div>
                            </li>
                            <li>
                                <label>
                                    Описание услуги:
                                    <div class="red">{{ service_form.description.errors }}</div>
                                </label>
                                {{ service_form.description }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <div class="button"><a href="#" class="js-add-formset-item">Добавить услуги</a></div>
                </div>
                <div class="selected work formsets">
                    <h3>Примеры работ компании</h3>
                    {% with worksamples_formset=inlines.1 %}
                    {{ worksamples_formset.management_form }}
                    {{ worksamples_formset.non_field_errors }}
                    {% for worksample_form in worksamples_formset %}
                    <div class="js-formset-item block-work" {% if forloop.last %}style="display:none;"{% endif %}>
                        <a href="#" class="close js-remove-formset">Удалить работу</a>
                        {{ worksample_form.company }}
                        {{ worksample_form.id }}
                        {{ worksample_form.DELETE|add_class:"hidden"|attr:"autocomplete:off" }}
                        <div class="clearfix">
                            <div class="img" id="work-img-{{ forloop.counter }}" {% if not worksample_form.instance.image %}style="background: #F9F9F9"{% endif %}>
                                {# worksample_form.images|add_class:"hidden"|attr:"autocomplete:off" #}
                                {% thumbnail worksample_form.instance.image "382x225" as im %}
                                <img src="{{ im.url }}" alt="">
                                {% empty %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
                                {% endthumbnail %}
                                <a href="#" id="work-img-pick-{{ forloop.counter }}">
                                    {% if not worksample_form.instance.image %}Загрузить{%else %}Заменить{% endif %} картинку
                                </a>
                                {{ worksample_form.image }}
                            </div>
                            <div class="form">
                                <ul>
                                    <li>
                                        <label>
                                            Стоимость работ:
                                            <div class="red">{{ worksample_form.cost.errors }}</div>
                                        </label>
                                        {{ worksample_form.cost|attr:'autocomplete:off' }}
                                        <span>Наприме: "5000 рублей за проект"</span>
                                    </li>
                                    <li>
                                        <label>
                                            Краткое описание работы:
                                            <div class="red">{{ worksample_form.description.errors }}</div>
                                        </label>
                                        {{ worksample_form.description|attr:"maxlength:80"|attr:'autocomplete:off' }}
                                        <span>Не больше 80 символов</span>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <div class="button"><a href="#" class="js-add-formset-item">Добавить работы</a></div>
                </div>
                <div class="button-block clearfix">
                    <button name="domoderate" type="submit"><i></i>Сохранить изменения</button>
                    <input style="float:right; margin-right: 20px;" name="domoderate" type="submit" value="Отправить на модерацию">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}