{% extends 'base.html' %}
{% load banners pytils_dt thumbnail mptt_tags  %}

{% block content %}
<div class="main-block clearfix">
    <ul class="breadcrumbs">
        <li class="main"><a href="index.html">Главная</a></li>
        {% for cat in company.categories.all %}
        {% if forloop.first %}
        {% if cat.parent %}
        <li><a href="{{ cat.parent.link }}">{{ cat.parent.title }}</a></li>
        {% endif %}
        <li><a href="{{ cat.link }}">{{ cat.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li>{{ company.title }}</li>
    </ul>
    <div class="clerfix"></div>
    <div class="left-company-block">
        <div class="company-name clearfix">
            <div class="com-logo">
                <div>
                    {% thumbnail company.logo "110x100" as im %}
                    <img src="{{ im.url }}" style="margin:{{ im|margin:"110x100" }}">
                    {% endthumbnail %}
                </div>
            </div>
            <div class="com-name">{{ company.title }}</div>
            <div class="com-slog">{{ company.slogan }}</div>
        </div>
        <div class="about-company">
        <div class="block-head">О компании</div>
        {{ company.description|safe }}
        </div>
        {% if company.service_set.all %}
        <div {#class="block-service"#} style="background:white; padding-bottom: 15px;">
            <div class="title clearfix">
                <span>Стоимость услуг</span>
                {% if company.price_range %}
                <div class="price">{{ company.price_range }} руб.</div>
                {% endif %}
            </div>

            {#<a href="#" class="show-more">Раскрыть пополный список услуг</a>#}
            {% for service in company.service_set.all %}
            <div class="service-cont">
                <div class="service">
                    <div class="s-name">{{ service.title }}</div>
                    <div class="s-price">{% if service.cost_type = 'fixed' %}{{ service.cost }} руб.{% else %}стоимость рассчитывается индивидуально{% endif %}</div>
                </div>
                <div class="service-desc">
                    {{ service.description }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if company.worksample_set.all %}
        <h1>Примеры наших работ</h1>
        <ul class="works clearfix">
            {% for sample in company.worksample_set.all %}
            <li>
                <div>
                    {% thumbnail sample.image "382x225" crop="center" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
                <div class="desc">{{ sample.description }}</div>
                <div class="price">За работу к оплате:<div>{{ sample.cost }}</div></div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="company-right">
        <div class="mail">
            <a href="#contactus" rel="modal">Связаться<br>с компанией</a>
        </div>
        <div class="company-data">
            <div>
                <div class="icon-1">
                    {% for cat in company.categories.all %}
                    <a href="{{ cat.link }}">{{ cat.title }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="icon-2">{{ company.city.title }}</div>
                <div class="icon-3">{{ company.address }} <a  rel="modal" href="#cont-map">Показать на карте</a></div>
            </div>
            <div>
                <div class="icon-4"><a href="{{ company.site }}">{{ company.site }}</a></div>
                <div class="icon-5"><a href="mailto:{{ company.email }}">{{ company.email }}</a></div>
            </div>
            <div>
                <div class="icon-6">{{ company.phones }}</div>
                <div class="icon-7">{{ company.contact_person }}</div>
            </div>
        </div>
        <div class="tells">
        Рассказать друзьям<br>&nbsp;
        </div>
        <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter"></div>
        <div class="side-adv" style="text-align:right;">{% advert 'catalog' 'sidebar' %}</div>
    </div>
</div>
{% if seo_data.visible_text %}
<div class="just-text seo-visible" style="margin-left: 0px; margin-bottom: 15px;">
    <p>{{ seo_data.visible_text|safe }}</p>
</div>
{% endif %}
<div class="big-banner clearfix">
    <div class="item">{% advert 'catalog' 'bottom_1' %}</div>
    <div class="item">{% advert 'catalog' 'bottom_2' %}</div>
</div>
{% endblock %}

{% block post_footer %}
{% include 'catalog/_company_map.html' %}
{% include 'catalog/_company_contact.html' %}
{% endblock %}

{% block additional_js %}
<script src="/static/js/vendor/jquery-ui-1.9.2.min.js"></script>
<script src="/static/js/vendor/jquery.ui.touch-punch.js"></script>
<script src="/static/js/vendor/jquery.quaptcha.js"></script>
<script src="/static/js/company_view.js"></script>
<script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
<script type="text/javascript">
DG.autoload(function() {
    var myMap = new DG.Map('map');
    myMap.setCenter(new DG.GeoPoint(82.927810142519,55.028936234826),15);
    myMap.controls.add(new DG.Controls.Zoom());
    $('.modal').css({display:'none'});
});
</script>
{% endblock %}
