{% load thumbnail %}
<ul class="companies-list">
    {% for company in companies %}
    <li {% if forloop.first %}class="with-border"{% endif %}>
        <div class="desc">
            <div class="com-logo-small">
                <div>
                    {% thumbnail company.logo "65x65" as im %}
                    <img src="{{ im.url }}"  style="margin:{{ im|margin:"65x65" }}">
                    {% endthumbnail %}
                </div>
            </div>
            <div class="com-price">{{ company.prices_range }}</div>
            <div class="com-text">
                <div class="head">{{ company.title }}</div>
                {{ company.description|truncatechars:150 }}
            </div>
        </div>
        <div class="com-imgs clearfix">
            {% for sample in company.random_worksets %}
                {% thumbnail sample.image "130x76" crop="center" as im %}
                <img src="{{ im.url }}">
                {% endthumbnail %}
            {% endfor %}
            <a href="{{ company.link }}" class="company-info">Узнать больше о компании &rarr;</a>
        </div>
    </li>
    {% endfor %}
</ul>