Пользователь представившийся как "{{ name }}" просит связаться с ним по электронной почте.<br>
E-mail: {{ email }}<br>
{% if text %}<br><br>
При отправке заявки пользоватеь оставил следующее сообщение:<br><br>
{{ text }}
{% endif %}