{% extends 'base.html' %}
{% load banners pytils_dt thumbnail mptt_tags  %}

{% block content %}
<div class="main-block clearfix">
    <ul class="breadcrumbs">
        <li class="main"><a href="/">Главная</a></li>
        {% if not tag_name %}
        <li><a href="{{ category.parent.link }}">{{ category.parent.title }}</a></li>
        <li>{{ category.title }}</li>
        {% else %}
        <li>{{ tag_name }}</li>
        {% endif %}
    </ul>
    <div class="clear"></div>
    <div class="company-filter">
        <div class="white-block by-price">
            Выберите ценовой диапазон
            <div id="cost-slider"></div>
            <div class="cost-vals">
                <input autocomplete="off" type="text" id="price_min" class="cost-min" value="0">
                <input autocomplete="off" type="text" id="price_max" class="cost-max" value="300 000">
            </div>
            Сортировать
            <div class="select">
                <select id="price_order" autocomplete="off">
                    <option value="desc">Цена по убыванию</option>
                    <option value="asc">Цена по возрастанию</option>
                </select>
            </div>
        </div>
        {% if category.promo_block %}
        <div class="white-block similar-block">
            Связанные материалы
            <div>
                {{ category.promo_block|safe }}
            </div>
        </div>
        {% endif %}
        {% advert 'catalog' 'sidebar' %}
    </div>
    <div class="big-right-block">
        <h2>{{ category.title|default:tag_name }}</h2>
        {% include "catalog/companies_list.html" %}
    </div>
    {% include 'common/paginator.html' %}

    {% if seo_data.visible_text %}
    <div class="just-text seo-visible">
        <p>{{ seo_data.visible_text|safe }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}